{% extends base %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block title %}{{title}}{% endblock %}


{% block app_content %}
<div class="row">
    <div class="col-lg-8 col-md-12 centrar__nombre">
        <h4 class="estilo__text-usuario">Hola {{ current_user.pgus_nombre }}!</h4>
    </div>
    <div class="col-lg-4 col-md-12 ">
        <button class="registrar__boton" type="button" onclick="window.location.href = '{{url_for('cepr_asistencia_siiaj')}}';">Registrar asistencia</button>
        <a href="/estadisticas.html" class="registrar__titulo">Ver estadísticas</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-12 estilo__cards">
        <div class="card text-center align-content-center">
            <div class="card-header">
                <h6>
                    <a class="nav__enlace" href="{{url_for('ceom_cepr_actual', id=current_user.pgus_profeid_cepr) }}">
                    Informes de asignatura (clic aquí para revisar informes)
                    </a>
                </h6>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div class="caption">
                        <embed type="image/svg+xml" src={{graph_2|safe}} style='max-width:100%'/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 estilo__cards">
        <div class="card text-center">
            <div class="card-header">
                <h6>Avisos</h6>
            </div>
            <div class="card-body contenido__texto">
                <p class="card-text">
                    Cualquier problema con el sistema de inscripción debes
                    reportarlo a amartinezm@unam.mx
                </p>
            </div>
        </div>
        <div class="card text-center mt-4">
            <div class="card-header">
                <h6>Calendario de Actividades</h6>
            </div>
            <div class="card-body contenido__texto">
                <p class="card-text">
                    Inscripción de Asignaturas curriculares:
                    <br>
                    <b>21-01-2022 al 26-01-2022</b>
                </p>
                <p class="card-text">
                    Altas/bajas de Asignaturas curriculares:
                    <br>
                    <b>28-02-2022 al 03-03-2022</b>
                </p>
                <p class="card-text">
                    Inscripción de Asignaturas complementarias:
                    <br>
                    <b>01-02-2022 al 04-02-2022</b>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-12 estilo__cards">
        <div class="card text-center">
            <div class="card-header">
                <h6>
                    Informes de trabajo (clic aquí para revisar informes)
                </h6>
            </div>
            <div class="card-body">
                <div class="card-body">
                  <div class="caption">
                    <embed type="image/svg+xml" src={{graph_informe|safe}} style='max-width:100%'/>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 estilo__cards">
        <div class="card text-center">
            <div class="carrera card-header ">
                <h6>Alumnos</h6>
            </div>
            <div class="card-body">
                <ul class="estilo__listas">
                  <p>Reporte de materias de los alumnos por número de cuenta y/o semestre</p>
                  <p>
                    <a href="{{url_for('ceom_cepr_actual', id=current_user.pgus_profeid_cepr)}}" class="btn btn-primary" role="button">Consultar</a> 
                  </p>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}