{% extends "base.html" %} {% block css %}
<link type="text/css" href="{{url_for('static',filename='css/perfil.css')}}" rel="stylesheet">
<link type="text/css" href="{{url_for('static',filename='css/inicio.css')}}" rel="stylesheet">{% endblock %} {% block title %}Altas y Bajas{% endblock %} {% block content %}
<div class="container acomodar">
    <div class="row">

        <div class="col-lg-12 col-md-12 estilo__cards ">
            <div class="card text-center card--modificado">
                <div class="card-header card-header--modificado">
                    <h6>Materias Complementarias</h6>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga debitis rem aut quod libero laborum laudantium, quidem exercitationem at corrupti fugit. Quisquam sapiente rerum laudantium dolores praesentium. Animi, quas! Enim sunt facere, consequuntur
                    culpa voluptatibus ab vitae voluptatem soluta veniam nobis, dolorem blanditiis ad corrupti accusantium atque! Deleniti numquam assumenda animi perferendis officiis veniam optio et ex nam architecto ratione, provident earum illum placeat
                    explicabo cum iste laudantium. Beatae quam eos totam, illum rem consectetur et quis quas commodi quidem? Quod quia minus aliquam ipsa, dolor aut, tempore consectetur incidunt quaerat, alias mollitia? Expedita veritatis veniam laborum
                    tenetur excepturi natus consequuntur et reprehenderit nesciunt quod fuga aliquam, molestiae animi nulla blanditiis aliquid error quisquam quam non repudiandae dolorum! Minima, quidem fuga. Distinctio neque delectus tempore nobis soluta
                    iure velit consequuntur animi corrupti odio quis exercitationem quod beatae laudantium iste sed ut id, repellendus blanditiis accusamus totam mollitia reprehenderit facilis! Harum voluptas ad nesciunt. Mollitia vitae dolorum exercitationem,
                    laborum beatae tenetur, quam nisi nesciunt, blanditiis accusantium nemo corporis doloremque veniam dicta similique velit? Dolorem et voluptatibus itaque sequi nobis natus officia deserunt quasi. Facere quasi harum, quia quod soluta,
                    nulla aliquid dolorem, corrupti cumque quae sed. Fugiat sint id delectus, qui ullam vitae, eligendi corporis a optio atque dolor magni repellendus soluta adipisci in quis sunt debitis eveniet laudantium eius? Saepe, fugit. Sunt delectus
                    doloribus vero aut mollitia recusandae illo excepturi aliquam repudiandae accusantium? Quod pariatur illo rem praesentium consequatur quisquam voluptatem dolore. Vitae eum totam repellendus et id velit ipsa dolore quasi at ullam optio
                    commodi eos, provident mollitia eveniet officiis asperiores alias quae maxime. Quod unde ipsum corporis debitis quidem, aliquam consequatur sunt veniam ut fugiat reprehenderit? Molestias, veniam nobis quibusdam rerum repellat exercitationem?
                    Nam molestiae distinctio ullam quo consectetur quis voluptatum illo porro necessitatibus dolorum, ea delectus accusamus mollitia vero numquam praesentium illum in similique eaque atque sequi odit magni officiis ratione. Quaerat, ipsum
                    nesciunt? Nulla, autem maiores consequatur delectus qui aut soluta voluptates maxime itaque non natus. Officiis, repellat quod? Beatae, impedit aperiam voluptas inventore quam iste distinctio natus amet ut magnam porro, excepturi repellendus
                    tenetur minus incidunt eveniet molestias. Eaque error quam, fugit voluptate iusto quasi voluptatum, perferendis amet iure, voluptatem doloremque harum eum. Molestiae quam placeat ut, libero error voluptatum facere assumenda nisi beatae
                    aperiam pariatur eius ea, a eos veritatis! Maiores ipsam ullam pariatur veritatis aperiam quam doloremque sint tempora. Dolores tempore maxime, quam earum totam voluptate natus! Nesciunt vel aperiam, temporibus cumque repellat cupiditate
                    repudiandae, necessitatibus officiis ab aliquid itaque eius animi quia alias ea. Nesciunt aliquid facere aliquam magni distinctio cumque saepe labore accusamus placeat dolorem maiores eveniet, maxime modi id cupiditate, atque sequi!
                    Ipsum laboriosam animi vitae praesentium consequuntur consectetur expedita minus illum harum possimus ipsa ab repellat delectus fuga, enim earum saepe aliquid cumque aliquam iusto sequi soluta veritatis temporibus! Perspiciatis quia
                    fugiat voluptatibus laboriosam autem. Nam deleniti quo numquam animi odit distinctio beatae veritatis neque! Blanditiis dolor facilis corporis odio voluptate obcaecati velit nostrum sed! Eum, dolores a!

                </div>
                <button class="formulario__boton" type="button">Actualizar</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}