{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {% if title %}{{ title }} - Servicios{% else %}Bienvenidos a Servicios{% endif %}
{% endblock %}

{% block html_attribs %} lang="es"{% endblock %}


{% block styles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Definir siempre el normalize.css para que se vean bastante parecidos los estilos entre navegadores -->
    <link type="text/css" href="{{url_for('static',filename='nmaquetado/css/normalize.css')}}" rel="stylesheet">
    <link type="text/css" href="{{url_for('static',filename='nmaquetado/css/main.css')}}" rel="stylesheet"> 
    <link type="text/css" href="{{url_for('static',filename='nmaquetado/css/inicio.css')}}" rel="stylesheet">
    {% block css %}{% endblock %}
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Iconos Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
{% endblock %}

{% block navbar %}
<body>
    <header>
        <nav class="navbar nav fixed-top navbar-expand-lg navbar-dark  ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="nav__logo" src="{{url_for('static',filename='nmaquetado/img/escudo-movil-d.png')}}" alt="Escudo ENES JURIQUILLA"></a>
                <button class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse margen" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav__centrar">
                        <li class="nav-item"><a class="nav__enlace " href="{{url_for('index')}}">Inicio</a></li>
                        <li class="nav-item"><a class="nav__enlace " href="{{url_for('ceal_perfil', id = current_user.pgus_alumno_ceal )}}">Perfil</a></li>
                        <li class="nav-item"><a class="nav__enlace " href="{{url_for('cpd_pgus_l')}}">Permisos</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav__enlace dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Materias curriculares
                            </a>
                            <ul class="dropdown-menu dropdown-menu-color " aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('ceom_ceal_a')}}">Oferta de materias</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{{url_for('ceom_ceal_actual')}}">Materias Actuales</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{{url_for('ceom_ceal_hist')}}">Histórico de materias</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{{url_for('ceom_ceal_altas_bajas')}}">Altas y bajas</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{{url_for('ceee_ceac_a')}}">Exámenes Extraordinarios</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav__enlace " href="{{url_for('ceoc_ceac_a')}}">Materias complementarias</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav__enlace dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Procesos
                            </a>
                            <ul class="dropdown-menu dropdown-menu-color " aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('ceal_cese_files_l', id_ceal = current_user.pgus_alumno_ceal)}}">Comprobantes</a></li>
                                <div class="dropdown-divider"></div>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">

                            <a class="nav__mascara nav__enlace" id="navbarDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">

                                <img class="nav-mascara__img " src="{{url_for('static',filename='upload/')}}{{current_user.pgus_image}}" alt="IMG Alumno ENESJ">
                            </a>


                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-color correcion__nav-desplegable" aria-labelledby="navbarDropdown">
                                <li class="hol"><a class="dropdown-item" href="{{url_for('ceal_perfil', id = current_user.pgus_alumno_ceal)}}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{{url_for('pgus_ceal_m', id = current_user.id)}}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Cuenta</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" type="submit" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar sesión</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>



    <div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Listo para cerrar sesión?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Selecciona "Salir" si  quieres terminar tu sesión actual.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{{ url_for('logout') }}">Salir</a>
          </div>
        </div>
      </div>
    </div>



{% endblock %}

{% block content %}

<main>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
</main>


    <!-- Footer -->
    <footer class="text-center estilo__footer">

        <div class="container p-4">

            <div class="row">

                <div class="col-lg-4 col-md-12 mb-5 mb-md-0">

                    <ul class="list-unstyled mb-0 text-left">
                        <li>
                            <a class="nav__enlace " href="http://www.enesjuriquilla.unam.mx/" target="_blank">ENES Juriquilla</a>
                        </li>
                        <li>
                            <a class="nav__enlace" href="https://www.unam.mx/" target="_blank">UNAM</a>
                        </li>
                        <li>
                            <a class="nav__enlace" href="https://www.gaceta.unam.mx/wp-content/uploads/2021/12/211213lineamientostaxa.pdf" target="_blank">COVID-19</a>
                        </li>
                        <li>
                            <a class="nav__enlace" href="http://www.enesjuriquilla.unam.mx/wp-content/uploads/2019/10/Integral-ENESJ.pdf" target="_blank">Política de Privacidad</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 mb-5 mb-md-0">

                    <a href=""><img class="footer__img" src="{{url_for('static',filename='nmaquetado/img/unam-nacion.png')}}" alt> </a>
                </div>

                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="nav__enlace" href="#!">Contacto</a>
                        </li>
                        <li>
                            <a class="nav__enlace" href="#!">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="dropdown-divider"></div>


        <div class="text-center p-3">
            Hecho en México, Universidad Nacional Autónoma de México (UNAM), todos los derechos reservados. <br>
            Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. De otra forma, requiere permiso previo por escrito de la institución. <br><span> © 2021 Copyright:</span>
            <a class="nav__enlace" href="http://www.enesjuriquilla.unam.mx" target="_blank">ENES Juriquilla</a>
        </div>
    </footer>
    <!-- Footer -->

    <a class="ir-arriba" javascript:void(0) title="Volver arriba">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
        </span>
    </a>


{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Mandamos a llamar al botón -->
    <script src="{{url_for('static',filename='js/boton.js')}}"></script>

{% endblock %}
