{% extends base %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block css %}
<link type="text/css" href="{{url_for('static',filename='nmaquetado/css/perfil.css')}}" rel="stylesheet">
{% endblock %} 
{% block title %}{{title}}{% endblock %} 


{% block app_content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container acomodar">
    <div class="row">
        <div class="col-lg-3 col-md-12 estilo__cards">
            <div class="card card--modificado">
                <div class="card-header card-header--modificado">
                    <h6>Información Académica</h6>
                </div>
                <div class="card-body">
                    <ul class="justificar__cards contenido__texto card__listas">
                    Nombre: {{user.ceal_papellido}} {{user.ceal_sapellido}} {{user.ceal_nombre}}<br>
                    Número de alumno: {{user.ceal_cuenta}}<br>
                    Plantel: {{plan.ceal_hist_plantel}}<br>
                    Carrera: {{plan.ceal_hist_carrera}}<br>
                    Plan: {{plan.ceal_hist_plan}}<br>
                    Fecha de creación: {% if alumno_sem.ceal_sem_fcreacion %} 
                                        {{alumno_sem.ceal_sem_fcreacion.strftime('%d-%m-%Y %H:%M:%S')}}
                                        {% endif %}<br>
                    Confirmación: {% if alumno_sem.ceal_al_approve_conf %} Aprobado {% endif %}<br>
                    Fecha de confirmación: {% if alumno_sem.ceal_al_approve_date %} 
                                        {{alumno_sem.ceal_al_approve_date.strftime('%d-%m-%Y %H:%M:%S')}}
                                        {% endif %}<br>

                    <hr>
                    Semestre: {{user.ceal_semestre}}<br>
                    Ciclo: {{semestre.cese_ciclo}}<br><br>

                    <hr>
                    Token: {{ alumno_sem.ceal_sem_token }}
                    <br>
                    <hr>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 estilo__cards ">
            <div class="card text-center card--modificado">
                <div class="card-header card-header--modificado">
                    <h6>Lista de Materias disponibles</h6>
                </div>
                <div class="card-body">

                 <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
              <tr>
                <th>Aplicar</th>
                <th>Profesor</th>
                <th>Materia</th>
                <th>Clave</th>
                <th>Salon</th>
                <th>Inscritos</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>             
              </tr>
              {% for o in omateria %}
              
                {% for a in o.ceoc_omateria_ceac if  a.ceac_alumno_ceal ==  current_user.pgus_alumno_ceal %}
                <tr class="success">
                <td class="nav__enlace-dark--modificado"> <a class="list-group-item list-group-item-success" href="{{url_for('ceoc_ceal_des', ceoc_id = o.ceoc_clave)}}"><span class="glyphicon glyphicon-remove"></span>Cancelar</a>
                </td>                
                {% else %}
                <tr class="warning">
                <td class="nav__enlace-dark--modificado"> <a class="list-group-item list-group-item-warning" href="{{url_for('ceoc_ceac_cursar', ceac_id=current_user.pgus_alumno_ceal, ceoc_id = o.ceoc_clave)}}"><span class="glyphicon glyphicon-ok"></span>Aplicar</a>
                </td>
                {% endfor %}

                <td>
                      {% for pr in o.ceoc_associations %}
                          {{ pr.cepr_prof_cepr.cepr_nombre }} {{ pr.cepr_prof_cepr.cepr_papellido }} {{ pr.cepr_prof_cepr.cepr_sapellido }} <br>
                      {% endfor %}
                </td>
                <td>{{o.ceoc_nombre}}</td>
                <td>{{o.ceoc_clave_u}}</td>
                <td>
                    {% for s in o.cesr_cesa_ceoc %}
                      {{ s.cesa_nombre}} / <br>
                    {% endfor %}
                </td> 
                <td>{{o.ceoc_cupoact}} / {{o.ceoc_cupomax}}</td>                
                {% if o.ceoc_ilunes != None %}
                <td>{{o.ceoc_ilunes.strftime('%H:%M')}} / {{o.ceoc_flunes.strftime('%H:%M')}}</td>  
                {% else %}
                <td>--:-- </td>
                {% endif %}
                {% if o.ceoc_imartes != None %}
                <td>{{o.ceoc_imartes.strftime('%H:%M')}} / {{o.ceoc_fmartes.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}                
                {% if o.ceoc_imiercoles != None %}
                <td>{{o.ceoc_imiercoles.strftime('%H:%M')}} / {{o.ceoc_fmiercoles.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %} 
                {% if o.ceoc_ijueves != None %}
                <td>{{o.ceoc_ijueves.strftime('%H:%M')}} / {{o.ceoc_fjueves.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}             
                {% if o.ceoc_iviernes != None %}
                <td>{{o.ceoc_iviernes.strftime('%H:%M')}} / {{o.ceoc_fviernes.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}             
                {% if o.ceoc_isabado != None %}
                <td>{{o.ceoc_isabado.strftime('%H:%M')}} / {{o.ceoc_fsabado.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}             
              </tr>
              {% endfor %}                

            </table>
                    </span>
                    </div>

                    <a class="formulario__boton" href="{{url_for('pdf_create_matcomp')}}" type="button">Aceptar</a>


                    </div>
          </div>





                </div>
                
            </div>
        </div>

    </div>
</div>






{% endblock %}