{% extends base %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block css %}
<link type="text/css" href="{{url_for('static',filename='nmaquetado/css/perfil.css')}}" rel="stylesheet">
{% endblock %} 
{% block title %}{{title}}{% endblock %} 


{% block app_content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}
{% if (currentDate >= semestre.cese_inicioOfertaMaterias and currentDate <= semestre.cese_finalOfertaMaterias) or alumno.ceal_permitir_insc == True%}



{% for om in all_om %}
{{om.ceom_nombre, om.ceom_plan_cepe}}<br>
{% endfor %}

{% if alumno.ceal_personal_info != True %}
<div class="container acomodar">
<div class = 'row'>
  <div class="col-lg-2 col-md-12 "></div>
  <div class="col-lg-8 col-md-12 ">
      <div class="card card--modificado">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-default">
           Actualización de Información Personal pendiente
          </h4>            
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <div class="form-group">
                Para poder iniciar el proceso de inscripción es necesario actualizar la información personal. Si la información es correcta solo da clic en el botón <b>Actualizar</b>.<br>
                Puedes encontrar el cuestionario en el menu <b>Perfil</b> opción <b>Información Personal</b> o en el siguiente enlace:
                <a href="{{url_for('ceal_p', id=alumno.ceal_cuenta)}}">Clic aquí</a><br>
                Si tienes alguna duda por favor escribe a la dirección de correo electrónico <b>amartinezm@unam.mx</b>
              </div>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
</div>


{% elif alumno.ceal_complemento_info.ceal_estatus != True %}
<div class="container acomodar">
<div class = 'row'>
  <div class="col-lg-2 col-md-12 "></div>
  <div class="col-lg-8 col-md-12 ">
      <div class="card card--modificado">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-default">
           Actualización de Información Complementaria pendiente
          </h4>            
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <div class="form-group">
                Para poder iniciar el proceso de inscripción es necesario completar los campos del menú Información Complementaria con datos reales. Si la información es correcta solo da clic en el botón <b>Actualizar</b>.<br>
                Puedes encontrar el cuestionario en el menu <b>Perfil</b> opción <b>Información Complementaria</b> o en el siguiente enlace:
                <a href="{{url_for('ceal_complemento', id=alumno.ceal_cuenta)}}">Clic aquí</a><br>
                Si tienes alguna duda por favor escribe a la dirección de correo electrónico <b>amartinezm@unam.mx</b>
              </div>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
</div>

{% else %}




{% for cp in cpdList if cp.check_estatus_user(current_user.id|int) != True %}

<div class="container acomodar">
<div class = 'row'>
  <div class="col-lg-2 col-md-12 "></div>
  <div class="col-lg-8 col-md-12 ">
      <div class="card card--modificado">
        <div class="card-header py-3">
          <h4>
           Condiciones de uso, privacidad y derechos de usuarios
          </h4>            
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <div class="form-group">

                Para continuar con tu inscripción, es obligatorio aceptar los términos del aviso de privacidad y la autorización de uso de la imagen personal. Para el Aviso de Privacidad Integral del Circuito Cerrado de Televisión (CCTV), lee el aviso y da clic en Aceptar si estás de acuerdo.<br>
                Pendiente de aprobar:<br>
                <br>
              <b>{{ cp.cpd_titulo }}</b><br>
              <br>

              </div>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

{% else %}


  {% if alumno.ceal_cese_file_pendiente() %}


      {% for a in alumno.associations_alumnos if a.cese_ceal_file_ciclo == semestre.cese_ciclo and a.cese_ceal_file_added != True %}
        <div class = 'row'>
          <div class="col-xl-2 col-lg-12"></div>
          <div class="col-xl-8 col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h4 class="m-0 font-weight-bold text-primary">
                   Archivo pendiente de adjuntar
                  </h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                      <div class="form-group">
                        <b>Archivo</b>: {{a.child_file_cese.reingreso_file_nombre}}<br>
                        <b>Descripción</b>: {{a.child_file_cese.reingreso_file_descripcion}}<br>
                        <b>Enlace</b>: <a href="{{url_for('ceal_cese_files_l', id_ceal=alumno.ceal_cuenta)}}">Clic aquí</a><br>
                      </div>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
      {% endfor %} 

  {% else %}

        {% for category, message in get_flashed_messages(with_categories=True, category_filter=["danger"]) %}
            <div class="alert alert-{{category}}">
                <p><b>{{ message }}</b></p>
            </div>
        {% endfor %}





<div class="container acomodar">
    <div class="row">
        <div class="col-lg-3 col-md-12 estilo__cards">
            <div class="card card--modificado">
                <div class="card-header card-header--modificado">
                    <h6>Información Académica</h6>
                </div>
                <div class="card-body">
                    <ul class="justificar__cards contenido__texto card__listas">
                    Nombre: {{alumno.ceal_papellido}} {{alumno.ceal_sapellido}} {{alumno.ceal_nombre}}<br>
                    Número de alumno: {{alumno.ceal_cuenta}}<br>
                    Plantel: {{plan.ceal_hist_plantel}}<br>
                    Carrera: {{plan.ceal_hist_carrera}}<br>
                    Plan: {{plan.ceal_hist_plan}}<br>
                    Fecha de creación: {% if alumno_sem.ceal_sem_fcreacion %} 
                                        {{alumno_sem.ceal_sem_fcreacion.strftime('%d-%m-%Y %H:%M:%S')}}
                                        {% endif %}<br>
                    {% if alumno_sem.ceal_al_approve_conf %}
                    Confirmación: {% if alumno_sem.ceal_al_approve_conf %} Aprobado {% endif %}<br>
                    Fecha de confirmación: {% if alumno_sem.ceal_al_approve_date %} 
                                        {{alumno_sem.ceal_al_approve_date.strftime('%d-%m-%Y %H:%M:%S')}}
                                        {% endif %}<br>
                    {% endif %}                        
                    <br>    
                    {% if alumno_sem.ceal_ce_approve_b %} 
                    Confirmación de altas y bajas:  Aprobado <br>
                    Fecha de confirmación altas y bajas: {{alumno_sem.ceal_ce_approve_date_b.strftime('%d-%m-%Y %H:%M:%S')}}<br>
                    {% endif %}


                    <hr>
                    Semestre: {{alumno.ceal_semestre}}<br>
                    Créditos: <b>{{alumno.ceal_cese_creditos()}}</b><br>
                    Ciclo: {{semestre.cese_ciclo}}<br>
                    Archivo: {% if alumno_sem.ceal_sem_archivo %} <a href="{{url_for('download_ri', id=alumno.ceal_cuenta, fname=alumno_sem.ceal_sem_archivo|string)}}">{{alumno_sem.ceal_sem_archivo [0:36]}} {% endif %}</a><br>

                    <hr>
                    Revisión<br>
                    Revisor:  {% if alumno_sem.ceal_ce_approve %} {{alumno_sem.materias_confirmadas.cead_nombre}} {{alumno_sem.materias_confirmadas.cead_papellido}} 
                    {{alumno_sem.materias_confirmadas.cead_sapellido}} {% endif %}<br>
                    Respuesta: {% if alumno_sem.ceal_ce_approve %} Aprobado {% endif %}<br>
                    Fecha:  {% if alumno_sem.ceal_ce_approve %} {{alumno_sem.ceal_ce_approve_date.strftime('%d-%m-%Y %H:%M:%S')}} {% endif %}<br>
                    {% if alumno_sem.ceal_ce_approve_b %} 
                    <hr>
                    Altas y Bajas<br>
                    Revisor:  {{alumno_sem.materias_confirmadas.cead_nombre}} {{alumno_sem.materias_confirmadas.cead_papellido}} 
                    {{alumno_sem.materias_confirmadas.cead_sapellido}} <br>
                    Respuesta: {% if alumno_sem.ceal_ce_approve_b %} Aprobado {% endif %}<br>
                    Fecha:  {% if alumno_sem.ceal_ce_approve_b %} {{alumno_sem.ceal_ce_approve_date_b.strftime('%d-%m-%Y %H:%M:%S')}} {% endif %}<br>
                    {% endif %}
                    <hr>
                    Token: {{ alumno_sem.ceal_sem_token }}
                    <br>
                    <hr>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 estilo__cards ">
            <div class="card text-center card--modificado">
                <div class="card-header card-header--modificado">
                    <h6>Lista de Materias disponibles</h6>
                </div>
                <div class="card-body">
       <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Aplicar</th>
                <th>Profesor</th>
                <th>Materia</th>
                <th>Clave</th>
                <th>Semestre</th> 
                <th>Inscritos</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Aplicar</th>
                <th>Profesor</th>
                <th>Materia</th>
                <th>Clave</th>
                <th>Semestre</th> 
                <th>Inscritos</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
              </tr>
            </tfoot>
            <tbody> 
              {% for o in all_omaterias %}
              
                {% if alumno_sem.ceal_al_approve_prop != True %}

                    {% for al in alumno.ceal_clases_ceom  if ( al.cepe_omateria_ceom.cepe_carrera_ceca == alumno.carrera_ceal_act().ceal_hist_carrera and
                           al.ceom_ciclo_cese == semestre.cese_ciclo and 
                           al.ceom_semestre == alumno.ceal_semestre and  
                           al.ceom_clave == o.ceom_clave) %}
                      <tr class="success">
                      <td width="8%" class="nav__enlace-om-modificado">
                        <a class="list-group-item list-group-item-success" href="{{url_for('ceom_ceal_des', id=o.ceom_clave)}}"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                      </td>
                      {% else %}
                      <tr class="warning">
                        <td width="8%" class="nav__enlace">
                        <a class="list-group-item list-group-item-warning" href="{{url_for('ceom_ceal_cursar', ceal_id=current_user.pgus_alumno_ceal, ceom_id = o.ceom_clave)}}"><span class="glyphicon glyphicon-ok"></span>Inscribir</a>
                      </td>
                    
                    {% endfor %}
                {% else %}
                  <tr>
                          {% for al in alumno.ceal_clases_ceom  if (al.cepe_omateria_ceom.cepe_carrera_ceca == alumno.carrera_ceal_act().ceal_hist_carrera and
                                 al.ceom_ciclo_cese == semestre.cese_ciclo and 
                                 al.ceom_semestre == alumno.ceal_semestre and  
                                 al.ceom_clave == o.ceom_clave) %}
                          <td class="nav__enlace-dark--modificado"> <a class="list-group-item list-group-item-success" href="#">Inscrito</td>
                          {% else %}
                          <td class="nav__enlace-dark--modificado"> <a class="list-group-item list-group-item-warning" href="#">No Inscrito</td>
                          {% endfor %}

                      </td>
                {% endif %}                   
                <td>
                      {% for pr in o.cesr_cepr_ceom %}
                          {{ pr.cepr_nombre }} {{ pr.cepr_papellido }} {{ pr.cepr_sapellido }} <br>
                      {% endfor %}
                </td>
                <td>{{o.ceom_nombre}}</td>
                <td>{{o.cema_omateria_ceom.cema_clave_str()}}</td>
                <td>{{o.ceom_semestre}}</td>  
                <td>{{o.ceom_cupoact}} / {{o.ceom_cupomax}}</td>                
                {% if o.ceom_ilunes != None %}
                <td>{{o.ceom_ilunes.strftime('%H:%M')}} / {{o.ceom_flunes.strftime('%H:%M')}}</td>  
                {% else %}
                <td>--:-- </td>
                {% endif %}
                {% if o.ceom_imartes != None %}
                <td>{{o.ceom_imartes.strftime('%H:%M')}} / {{o.ceom_fmartes.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}                
                {% if o.ceom_imiercoles != None %}
                <td>{{o.ceom_imiercoles.strftime('%H:%M')}} / {{o.ceom_fmiercoles.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %} 
                {% if o.ceom_ijueves != None %}
                <td>{{o.ceom_ijueves.strftime('%H:%M')}} / {{o.ceom_fjueves.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}             
                {% if o.ceom_iviernes != None %}
                <td>{{o.ceom_iviernes.strftime('%H:%M')}} / {{o.ceom_fviernes.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}           
              </tr>
              {% endfor %}

                 {% for o in materiasrep %}
              <tr>
                <td></td>
              </tr>                 
              <tr>
                
                {% if alumno_sem.ceal_ce_approve != True %}
                {% for al in alumno.ceal_clases_ceom  if (al.ceom_plan_cepe == plan.ceal_hist_plan and 
                           al.ceom_clave == o.ceom_clave) %}
                      <td class="info">
                        <a href="{{url_for('ceom_ceal_des', id=o.ceom_clave)}}"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                      </td>
                      {% else %}
                      <td class="color-default">
                        <a href="{{url_for('ceom_ceal_cursar', ceal_id=current_user.pgus_alumno_ceal, ceom_id = o.ceom_clave)}}"><span class="glyphicon glyphicon-ok"></span>Inscribir</a>
                      </td>
                    
                  {% endfor %}
                  {% else %}
                      <td class="info">
                        No disponible
                      </td>
                  {% endif %}                   
                <td>
                       {% for pr in o.cesr_cepr_ceom %}
                          {{ pr.cepr_nombre }} {{ pr.cepr_papellido }} {{ pr.cepr_sapellido }} <br>
                      {% endfor %}

                </td>
                <td>{{o.ceom_nombre}}</td>
                <td>{{o.cema_omateria_ceom.cema_clave_u}}</td>
                <td>{{o.ceom_semestre}}</td>  
                <td>{{o.ceom_cupoact}} / {{o.ceom_cupomax}}</td>                
                {% if o.ceom_ilunes != None %}
                <td>{{o.ceom_ilunes.strftime('%H:%M')}} / {{o.ceom_flunes.strftime('%H:%M')}}</td>  
                {% else %}
                <td>--:-- </td>
                {% endif %}
                {% if o.ceom_imartes != None %}
                <td>{{o.ceom_imartes.strftime('%H:%M')}} / {{o.ceom_fmartes.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}                
                {% if o.ceom_imiercoles != None %}
                <td>{{o.ceom_imiercoles.strftime('%H:%M')}} / {{o.ceom_fmiercoles.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %} 
                {% if o.ceom_ijueves != None %}
                <td>{{o.ceom_ijueves.strftime('%H:%M')}} / {{o.ceom_fjueves.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}             
                {% if o.ceom_iviernes != None %}
                <td>{{o.ceom_iviernes.strftime('%H:%M')}} / {{o.ceom_fviernes.strftime('%H:%M')}}</td>
                {% else %}
                <td>--:-- </td>
                {% endif %}         
              </tr>
              {% endfor %}
              </tr>

            </table>
          </span>
          </div>
           {% if alumno_sem.ceal_sem_status == '11' %}
            <a class="formulario__boton">Proceso completado</a> 
          {% elif alumno_sem.ceal_sem_status == '5' %}
            <a class="formulario__boton" href="{{url_for('pdf_inscripcion_confirmacion', id = alumno_sem.ceal_sem_alumno)}}" type="button">Confirmar modificación</a> 
          {% elif alumno_sem.ceal_al_approve_prop != True %}
             <a class="formulario__boton" href="{{url_for('pdf_create_propuesta')}}" type="button">Enviar</a>  
          {% endif %}
          </div>
</div>





                </div>
                
            </div>
        </div>

    </div>
</div>


{% endif %}
{% endfor %} 
{% endif %}


{% else %}
<div class = 'row'>
  <div class="col-xl-2 col-lg-12"></div>
  <div class="col-xl-8 col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-primary">
           Proceso de incripción
          </h4>            
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <div class="form-group">
                El proceso de inscripción no esta habilitado en este momento.<br>
                {% if semestre.cese_inicioOfertaMaterias and semestre.cese_finalOfertaMaterias %} 
                    Inscripción de materias curriculares: 
                    <br><b>{{ semestre.cese_inicioOfertaMaterias.strftime('%d-%m-%Y')  }} al {{ semestre.cese_finalOfertaMaterias.strftime('%d-%m-%Y')  }}</b><br><br>
                {% endif %}

                Si tienes alguna duda por favor escribe a la dirección de correo electrónico <b>amartinezm@unam.mx</b>
              </div>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

{% endif %}

{% endblock %}