{% extends base %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block css %}
<link type="text/css" href="{{url_for('static',filename='nmaquetado/css/perfil.css')}}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %} 
{% block title %}{{title}}{% endblock %} 


{% block app_content %}
<!-- Bloque del body -> main -->
<div class="container acomodar">
    <div class="row">
        <div class="col-lg-4 col-md-12 usuario">
            <div class="usuario-top">
                <div class="usuario-top__mascara">
                    <img class="mascara__img" src="{{url_for('static',filename='upload/')}}{{current_user.pgus_image}}" alt="Img- Alumno ENES JURIQUILLA ">
                </div>

                <h5 class="usuario-top__nombre ">{{ current_user.pgus_username }}</h5>
            </div>

            <div class="card usuario-down ">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item {{status_1}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_p', id=current_user.pgus_alumno_ceal)}}">Información Personal</a>
                    <li class="list-group-item {{status_2}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_complemento', id=current_user.pgus_alumno_ceal)}}">Información Complementaria</a>
                    <li class="list-group-item active"><a class="nav__enlace" href="{{url_for('ceal_a', id=current_user.pgus_alumno_ceal) }}">Información Académica</a>
                    <li class="list-group-item {{status_4}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_pe', id=current_user.pgus_alumno_ceal) }}">Plan de Estudios</a>
                    <li class="list-group-item {{status_5}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_ce', id=current_user.pgus_alumno_ceal) }}">Contacto de Emergencia</a>
                    <li class="list-group-item {{status_6}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('pgus_ceal_m', id=current_user.id) }}">Configuración de Cuenta</a>
                </ul>
            </div>

        </div>

        <div class="col-lg-8 col-md-12 ">


            <!-- Se ocupa el estilo del stylesheet inicio.css, -->

            <div class="card card--modificado">
                <div class="card-header card-header--modificado">
                    <h6>Información Académica</h6>
                </div>
                <div class="card-body">
                    <ul class="justificar__cards contenido__texto card__listas">
                      Número de cuenta: {{user.ceal_cuenta}}<br>
                      Sistema: {{user.ceal_sistema}}<br>
                      Año Primer Ingreso: {{user.ceal_apingreso}}<br>
                      Causa de Ingreso: {{user.ceal_cingreso}}<br>
                      Causa de Egreso: {{user.ceal_cegreso}}<br>
                      Periodo de Afectación Art. 22: {{user.ceal_paarticulo22}}<br>
                      Último Periodo de Historia Académica: {{user.ceal_uphacademica}}<br>
                      Semestre: {{user.ceal_semestre}}<br>
                      <br>
                      <br>
                      {% for t in trayectorias %}
                        Número de Cuenta: {{t.ceal_hist_alumno}}<br>
                        Clave Plantel: {{t.ceal_hist_plantel}}<br>    
                        Clave Carrera: {{t.ceal_hist_carrera}}<br>
                        Plan de Estudios: {{t.ceal_hist_plan}}<br>
                        {% if t.ceal_hist_estatus == True %}
                        Estatus: <span class="glyphicon glyphicon-ok-sign"></span> Activo <br>
                        {% else %}
                        Estatus: <span class="glyphicon glyphicon-download"></span> Baja <br>
                        {% endif %}
                        Motivo del estatus: {{t.ceal_hist_motivo}}<br>
                        <br>
                    {% endfor %}  
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class=" row">
        <div class="col-lg-12 col-md-12">
            <!-- Se ocupa el estilo del stylesheet inicio.css, -->
            <div class="card card--modificado ">
                <div class="card-header card-header--modificado">
                    <h6>Materias registradas en la DGAE</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Plantel</th> 
                          <th>Carrera</th>
                          <th>Plan</th>
                          <th>Ingreso</th>
                          <th>Materia</th>
                          <th>Periodo</th>
                          <th>Calificación</th>
                          <th>Grupo</th>
                          <th>Acta</th>
                          <th>Tipo</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Plantel</th> 
                          <th>Carrera</th>
                          <th>Plan</th>
                          <th>Ingreso</th>
                          <th>Materia</th>
                          <th>Periodo</th>
                          <th>Calificación</th>
                          <th>Grupo</th>
                          <th>Acta</th>
                          <th>Tipo</th>
                        </tr>
                      </tfoot>
                      <tbody>          
              {% for p in user.ceal_calificaciones %}
              <tr>

                <td>{{p.ceal_ha_plantel}}</td>
                <td>{{p.ceal_ha_carrera}}</td> 
                <td>{{p.ceal_ha_plan}}</td> 
                <td>{{p.ceal_ha_ingreso}}</td> 
                <td>{{p.ceal_ha_materia}}</td> 
                <td>{{p.ceal_ha_periodo}}</td>
                <td>{{p.ceal_ha_calificacion}}</td>
                <td>{{p.ceal_ha_grupo}}</td> 
                <td>{{p.ceal_ha_folio}}</td> 
                <td>{{p.ceal_ha_tipo}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

