{% extends base %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block css %}
<link type="text/css" href="{{url_for('static',filename='nmaquetado/css/perfil.css')}}" rel="stylesheet">
{% endblock %} 
{% block title %}{{title}}{% endblock %} 


{% block app_content %}
<!-- Bloque del body -> main -->
<div class="container acomodar">
    <div class="row">
        <div class="col-lg-4 col-md-12 usuario">
            <div class="usuario-top">
                <div class="usuario-top__mascara">
                    <img class="mascara__img" src="{{url_for('static',filename='upload/')}}{{current_user.pgus_image}}" alt="Img- Alumno ENES JURIQUILLA ">
                </div>

                <h5 class="usuario-top__nombre ">{{ current_user.pgus_username }}</h5>
            </div>

            <div class="card usuario-down ">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item {{status_1}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_p', id=current_user.pgus_alumno_ceal)}}">Información Personal</a>
                    <li class="list-group-item {{status_2}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_complemento', id=current_user.pgus_alumno_ceal)}}">Información Complementaria</a>
                    <li class="list-group-item {{status_3}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_a', id=current_user.pgus_alumno_ceal) }}">Información Académica</a>
                    <li class="list-group-item {{status_4}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('ceal_pe', id=current_user.pgus_alumno_ceal) }}">Plan de Estudios</a>
                    <li class="list-group-item active"><a class="nav__enlace" href="{{url_for('ceal_ce', id=current_user.pgus_alumno_ceal) }}">Contacto de Emergencia</a>
                    <li class="list-group-item {{status_6}} color-default"><a class="nav__enlace-dark--modificado" href="{{url_for('pgus_ceal_m', id=current_user.id) }}">Configuración de Cuenta</a>
                </ul>
            </div>

        </div>

        <div class="col-lg-8 col-md-12">
            <div class="container formulario">
                <div class="formulario__titulo">
                    <h6>Información Contacto de emergencia</h6>
                </div>
                    {% for field, errors in form.errors.items() %}
                      <div class="alert alert-danger">
                        {{ form[field].label }}: {{ ', '.join(errors) }}
                      </div>
                    {% endfor %}

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      {{ form.csrf_token }}
                    </div>
                    <div class="form-group">
                        {{form.ceal_nss.label(class="formulario_label") }}{{form.ceal_nss(class="form-control")}}
                    </div>
                    <br>
                    <div class="form-group">
                        <h6>Contacto principal</h6>
                        {{form.ceal_c1nombre.label(class="formulario_label") }}{{form.ceal_c1nombre(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c1dirección.label(class="formulario_label") }}{{form.ceal_c1dirección(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c1telefono.label(class="formulario_label") }}{{form.ceal_c1telefono(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c1email.label(class="formulario_label") }}{{form.ceal_c1email(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c1parentesco.label(class="formulario_label") }}{{form.ceal_c1parentesco(class="form-control")}}
                    </div>
                    <br>
                    <div class="form-group">
                        <h6>Contacto alternativo</h6>
                        {{form.ceal_c2nombre.label(class="formulario_label") }}{{form.ceal_c2nombre(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c2dirección.label(class="formulario_label") }}{{form.ceal_c2dirección(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c2telefono.label(class="formulario_label") }}{{form.ceal_c2telefono(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c2email.label(class="formulario_label") }}{{form.ceal_c2email(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.ceal_c2parentesco.label(class="formulario_label") }}{{form.ceal_c2parentesco(class="form-control")}}
                    </div>
                    </div>

                    <br/>
                    {% if alumno.ceal_segurosoc_archivo %}
                    <b>Comprobante de seguro</b>: <a href="{{ url_for('download_ceal_seguro_ceal', id = alumno.ceal_cuenta) }}">
                    {{ alumno.ceal_segurosoc_archivo}}</a>
                    {% endif %}
                    <br>
                    <br>
                    {{form.ceal_segurosoc_archivo.label() }}{{form.ceal_segurosoc_archivo()}}<br/><br>

                    {{form.submit(class="formulario__boton")}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}