{% extends "base.html" %} {% block css %}
<link type="text/css" href="{{url_for('static',filename='css/perfil.css')}}" rel="stylesheet">
<link type="text/css" href="{{url_for('static',filename='css/inicio.css')}}" rel="stylesheet">{% endblock %} {% block title %}Permisos{% endblock %} {% block content %}
<div class="container acomodar">
    <div class=" row">
        <div class="col-lg-12 col-md-12">
            <!-- Se ocupa el estilo del stylesheet inicio.css, -->
            <div class="card card--modificado ">
                <div class="card-header card-header--modificado">
                    <h6>Permisos - Condiciones de uso, privacidad y derechos de usuario</h6>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ab eaque eveniet dolor, quos quod adipisci maiores distinctio quam accusamus asperiores, vitae reiciendis beatae et quia officia veritatis rerum vel excepturi optio modi perferendis culpa.
                    Necessitatibus atque aut, earum excepturi eligendi provident deserunt nihil ea enim perspiciatis ducimus quod sapiente fuga sunt vel magni repudiandae autem soluta libero sint sed. Excepturi beatae velit in dicta, libero exercitationem
                    provident itaque animi, dolore sapiente voluptatibus recusandae, at sequi! Tenetur, illum. Neque delectus praesentium eveniet provident nemo consequatur omnis pariatur? Maiores dolorem cumque nobis qui molestiae itaque, sed laborum
                    libero quidem possimus porro, aliquam ratione, sit ab voluptatem nisi? Quis tempore ipsam facere minus labore! At voluptates accusantium nihil reiciendis laudantium neque sit veritatis nemo natus officia fuga earum rerum saepe fugit
                    sequi, corrupti nostrum sint nam vitae minus facilis expedita temporibus. Consequatur hic maxime inventore beatae nam quasi optio dignissimos dolores, iste tempore, dolorum expedita illum et quidem facilis quo suscipit officiis. Expedita,
                    deleniti. Laboriosam quaerat animi neque. Consequuntur sint sunt omnis corrupti alias itaque, voluptate est. Qui eligendi asperiores quae facere, aspernatur necessitatibus, dicta inventore, rerum et amet sunt! Ad, consectetur ab? Tenetur
                    nihil, fugiat cumque voluptate vel iusto, ab, officia quaerat debitis minima omnis eius adipisci? Repellendus rerum hic laudantium totam, aut recusandae soluta, sint perspiciatis earum sequi deserunt dolorum error ad eos vel libero
                    rem mollitia omnis doloribus facere quae praesentium consequuntur magni laboriosam? Accusantium cumque ullam eum reiciendis dolor eaque similique a rem reprehenderit necessitatibus dicta placeat, obcaecati provident modi quasi commodi
                    recusandae quam iusto hic quisquam, corrupti, mollitia excepturi! Itaque est quia doloremque, tempore quod iste culpa expedita qui fuga quo voluptatibus adipisci dolores, saepe numquam velit fugiat porro animi blanditiis sed voluptate
                    odio impedit molestiae! Facilis cum a vel ullam obcaecati eveniet nam laudantium et eligendi velit ex omnis aut nihil quasi harum adipisci, earum corrupti sit eius consequuntur blanditiis aperiam. Nihil minima, veniam iusto perspiciatis
                    perferendis consequatur laudantium officia consectetur quos eos unde commodi! Nam in quos sit quibusdam molestiae pariatur sint natus, magni doloremque veniam sapiente, facilis maxime dolores, enim laboriosam dolor porro aliquam dolorem
                    exercitationem omnis! Possimus error quasi sequi consectetur omnis ullam itaque unde officiis saepe nesciunt eligendi aliquid reprehenderit laboriosam, laborum totam, atque vero deleniti ab. Commodi amet laborum delectus reprehenderit
                    vero ratione corrupti, sequi, non molestias recusandae fugiat et nobis cum quam quis harum deleniti consequatur officiis quibusdam quo iusto eligendi qui dolore. Natus consequatur voluptate, vel corrupti soluta nam delectus ullam rem
                    eius modi voluptates nostrum, praesentium tempore velit quas ipsum quis officia maxime reiciendis voluptatibus animi. Totam architecto, quibusdam exercitationem nesciunt quas quod itaque ratione explicabo velit ipsum at sed repellendus
                    a neque non necessitatibus obcaecati excepturi praesentium minima sint in eligendi beatae quis fugit! Totam itaque cupiditate ullam perferendis commodi tempora, ipsa autem eius laborum alias delectus perspiciatis expedita incidunt
                    explicabo, ea nam aperiam placeat nulla voluptatibus. Laboriosam earum officiis ducimus voluptate modi nemo consequuntur temporibus corporis at quasi! Reprehenderit, culpa possimus. Sequi consequuntur odio dignissimos. Minima.
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}