:root {
  /*Fondo*/
  --theme-color: white;
  /*Colores principales*/
  --primary-color: #002b7a;
  --secondary-color: #d59f0f;
  /*Colores de texto*/
  --text-color-n: black;
  --text-color-b: white;
  --text-color-d: #d59f0f;
}

/* *****************ESTILOS DE LA PÁGINA LOGIN************************* */
.body-fondo {
  background-image: url('/static/nmaquetado/ini/img/ENES-Juriquilla1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}

.fondo {
  /*Transparencia*/
  background-color: rgba(0, 43, 122, 0.29);
  background-color: rgba(213, 159, 15, 0.19);
  min-height: 100vh;
}

.acomodar {
  padding-top: 100px;
  padding-bottom: 100px;
}
.azul {
  /* Fondo transparente del escudo de la ENES  */
  background-color: rgba(0, 43, 122, 0.87) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blanco {
  background-color: rgba(255, 255, 255, 0.87) !important;
}

.escudo {
  /* Escudo ENES-J */
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card--modificada {
  /* Para que ocupe el 100% del tamaño de la card */
  height: 100%;
  /* Quitar las esquinas redondeadas a las cards */
  border: 0 !important;
}

.correciones {
  /* Para que las cards se queden juntas */
  padding: 0 !important;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color) !important;
}
.estilo__text-usuario {
  text-decoration-line: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 4px;
  text-align: center;
  color: var(--text-color-b);
  font-size: 1.5rem;
}

.tamanio-inputs {
  /* Un truco para definir el width de los input sin afectar otras cosas */
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-control {
  border-radius: 0 !important;
  border: 2px solid rgb(75, 75, 75) !important;
  font-size: 14px;
}
.formulario_label {
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.nav__enlace-dark {
  color: var(--text-color-n);
  text-decoration: none !important;
}

.nav__enlace-dark:hover {
  color: var(--text-color-d);
}

.formulario__boton {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  height: 48px;
  border: 0;
  color: var(--text-color-b);
  background-color: var(--primary-color);
  width: 100%;
}

.formulario__boton:hover {
  color: var(--text-color-b);
  background-color: var(--secondary-color);
}

.alineacion-enlaces {
  text-align: center;
}
/* *****************TERMINA ESTILOS DE LA PÁGINA LOGIN************************* */

/* *****************ESTILOS DE LA PÁGINA REGISTRO************************* */

.nav {
  background-color: var(--primary-color);
  /* 64px */
  box-shadow: 0 1px 10px;
  width: 100%;
}

.nav__logo {
  height: 55px;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}

.estilos_card-instrucciones {
  box-shadow: 0 1px 10px;
  z-index: 1;
  height: auto;
  margin-bottom: 20px;

  /* PARA MANTENER EL CARD DE INSTRUCCIONES, PERO NO ES PERFECTO A NIVEL VISUAL
  position: fixed!important;
  min-height: 120px;
  max-width: 400px; */
}
.card-body--modificado {
  margin-top: 0;
}
.contenido__lista {
  line-height: 1.25rem;
  text-align: justify;
  padding: 10px 16px 10px 20px;
  margin: 0;
}

.estilos_titulo-formulario {
  text-align: center;
  color: var(--text-color-b);
  font-size: 1.5rem;
}

@media (max-width: 345px) {
  .logo__movil {
    justify-content: center !important;
  }
  .formulario__boton {
    height: auto;
  }
}
/* *****************TERMINA ESTILOS DE LA PÁGINA REGISTRO************************* */
