{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
    <center>
    <h1> ENES - Proceso Interno de Selección </h1>
    </center>
    <br>
        <div id="crearS1s1" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar folios</h5>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
						<h1>Importar archivo (Documentos permitidos xls, xlsx, csv, tsv, csvz, tsvz)</h1>
						<div class="form-group">
							<form action="" method=post enctype=multipart/form-data>
						</div>
						<div class="form-group">
							<input type=file name=file>
						</div>
						<div class="form-group">
							<input  class="list-group-item active" type=submit value=Cargar>
						</div>						
						</form>
						<br>
						<br>

							{{ error }}
							<br>
							<br>
							<br>
							<br>
                      </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}