
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<br>
  <!-- Begin Page Content -->
  <div class="container-fluid">

<div class="row">
  <div class="col-md-6">
    <div class="list-group">   
        <a class="list-group-item active" href="{{url_for('saco_entrevista_c')}}">Crear comité</a>
    </div>
  </div>
</div>


          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Comites (<a href="{{ url_for('directorioall') }}">Descargar relación</a>)</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Comites creados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Carrera</th>
                      <th>Profesores</th>
                      <th>Solicitudes</th>
                      <th>Modificar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Carrera</th>
                      <th>Profesores</th>
                      <th>Solicitudes</th>
                      <th>Modificar</th>
                    </tr>
                  </tfoot>
                  <tbody>
          {% for a in comites %}
          <tr>
            <td>{{a.saco_nombre}}</td>  
            <td>{{a.saco_carrera}}</td>           
            <td><a href="{{ url_for('saco_add_sapr', id = a.saco_id) }}">Profesores</a></td>
            <td><a href="{{ url_for('asignacion_entrevista_comite_l', id = a.saco_id) }}">Solicitudes</a></td>
            <td><a href="{{ url_for('saco_entrevista_e', id = a.saco_id) }}">Modificar</a></td>
          </tr>
          {% endfor %}          
        </table>
      </div>
</div>



{% endblock %}