{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="{{url_for('saso_select_l')}}">Lista de solicitudes en revisión</a></li>
        <li> {{ solicitud.saso_folio }} </li>
      </ul>
    </div>
</div>




{% if current_user.is_active and current_user.pgus_usaad == True %}      
   <div class="row">
    <div class="col-xl-4 col-lg-7">   
      <div class="list-group"> 
          <a class="list-group-item active"  href="#rev_1_1" data-toggle="modal" data-id = {{ solicitud.saso_id }}>
            <i class="fas fa-thumbs-up"></i> Responer solicitud</a>
      </div>
    </div>
  </div> 
{% endif %}

<br>
<div class="modal fade" id="rev_1_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Revisión</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form action="{{url_for('saso_response')}}" method="POST" enctype="multipart/form-data">

                          <div class="form-group">
                            <select class="custom-select" id="rev_estatus_id" name="rev_estatus_id">
                              <option selected>Seleccionar opción</option>
                              <option value="1">Aprobar</option>
                              <option value="0">Rechazar</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="message-text" class="col-form-label", rows='6'>Observaciones:</label>
                            <textarea type="text" class="form-control" id="rev_comentarios_id" name="rev_comentarios_id" rows='6'></textarea>
                          </div>
                          <div class="form-group form-check">
                            <input hidden type="text" name="rp_1_1" id="rp_1_1" value=""/>
                          </div>

                          <div class="modal-footer">
                            <button class="list-group-item" data-dismiss="modal">Regresar</a>
                            <button type="submit" class="list-group-item active">Actualizar</button>
                         </div>


                        </form>
                    </div>
                </div>
              </div>
            </div>
</div>



  <!-- Begin Page Content -->
  <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Solicitudes de nuevo ingreso</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
             <table class="table table-striped" width="100%" cellspacing="0">
              <table class="table">
                <thead>
                  <th colspan="2">
                    INFORMACIÓN PERSONAL
                  </th>
                  <th colspan="2">
                    SOLICITUD
                  </th>                  
                  <tr>
                    <td scope="row">CURP</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_curp }}</td>
                    <td scope="row">Folio</td>
                    <td>{{ solicitud.saso_folio }}</td>                      
                  </tr>
                  <tr>
                  <tr>
                    <td scope="row">Nombre</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_papellido }} {{ solicitud.aspirantesolicitud.saas_sapellido }} {{ solicitud.aspirantesolicitud.saas_nombre }}</td>
                    <td scope="row">Bachillerato</td>
                    <td>{{ solicitud.saso_bachillerato }}</td>                      
                  </tr>
                  <tr>
                    <td scope="row">Fecha de nacimiento</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_fnacimiento }}</td>
                    <td scope="row">Lugar de Bachillerato</td>
                    <td>{{ solicitud.saso_lugarbachiller }}</td>                      
                  </tr>
                  <tr>
                    <td scope="row">Lugar de nacimiento</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_lnacimiento }}</td>
                    <td scope="row">Promedio</td>
                    <td>{{ solicitud.saso_promedio }}</td>                      
                  </tr>
                  <tr>
                  <tr>
                    <td scope="row">Edad</td>
                    <td>
                        {{ fecha.strftime('%Y')|int - solicitud.aspirantesolicitud.saas_fnacimiento.strftime('%Y')|int}}
                    </td>
                    <td scope="row">Tiempo</td>
                    <td>{{ solicitud.saso_tiempobachiller }}</td>                      
                  </tr>
                  <tr>
                    <td scope="row">Sexo</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_sexo }}</td>
                    <td scope="row">Otro proceso de ingreso</td>
                    <td>{{ solicitud.saso_otroproceso }}</td>                      
                  </tr>
                  <tr>
                    <td scope="row">Estado civil</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_ecivil }}</td>
                    <td scope="row">Licenciatura del otro proceso</td>
                    <td>{{ solicitud.saso_otroproceso_lic }}</td>                      
                  </tr>
                  <tr>
                    <td scope="row">Nacionalidad</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_nacionalidad }}</td>
                    <td scope="row">Aceptado</td>
                    <td>{{ solicitud.saso_otroproceso_acep }}</td>                      
                  </tr>
                  <tr>
                    <td scope="row">Calle y número</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_callen }}</td>
                    <td scope="row">Cursada</td>
                    <td>{{ solicitud.saso_otroproceso_curs }}</td>                      
                  </tr>                  
                  <tr>
                    <td scope="row">Colonia</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_colonia }}</td>
                    <td scope="row">Licenciatura de acceso directo</td>
                    <td>{{ solicitud.saso_lic_aceptado }}</td>                      
                  </tr>    
                  <tr>
                    <td scope="row">Municipio</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_municipio }}</td>
                    <td scope="row">Solicitud</td>
                    <td><a href="{{ url_for('down_f1', id = solicitud.saso_id) }}">{{ solicitud.saso_solicitud }}</a></td>                      
                  </tr>    
                  <tr>
                    <td scope="row">Estado</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_estado }}</td>
                    <td scope="row">Certificado o historial</td>
                    <td>
                      <a href="{{ url_for('down_f2', id = solicitud.saso_id) }}">{{ solicitud.saso_hiscer }}</a><br>
                      <a href="{{ url_for('solicitud_actualizar_cert', saso_id = solicitud.saso_id, saas_id = solicitud.saso_aspirante_ceco )}}" class="btn-sm btn-warning" role="button">Actualizar</a> 
                    </td>
                  </tr>    
                  <tr>
                    <td scope="row">Código Postal</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_cp }}</td>                     
                    <td scope="row">Boleta</td>
                    <td>
                      <a href="{{ url_for('down_f4', id = solicitud.saso_id) }}">{{ solicitud.saso_boleta }}</a><br>
                      <a href="{{ url_for('solicitud_actualizar_reg', saso_id = solicitud.saso_id, saas_id = solicitud.saso_aspirante_ceco )}}" class="btn-sm btn-warning" role="button">Actualizar</a> 
                    </td>
                  </tr>    
                  <tr>
                    <td scope="row">Teléfono</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_telefono }}</td>
                    <td scope="row">Imagen</td>
                    <td><a href="{{ url_for('down_f5', id = solicitud.saso_id) }}">{{ solicitud.saso_imagen }}</a><br>
                      <a href="{{ url_for('solicitud_actualizar_img', saso_id = solicitud.saso_id, saas_id = solicitud.saso_aspirante_ceco )}}" class="btn-sm btn-warning" role="button">Actualizar</a> 
                    </td>                       
                  </tr>    
                  <tr>
                    <td scope="row">Celular</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_celular }}</td>
                    <td scope="row">Carta de motivos</td>
                    <td><a href="{{ url_for('down_f3', id = solicitud.saso_id) }}">{{ solicitud.saso_motivos }}</a><br>
                      <a href="{{ url_for('solicitud_actualizar_motivos', saso_id = solicitud.saso_id, saas_id = solicitud.saso_aspirante_ceco )}}" class="btn-sm btn-warning" role="button">Actualizar</a> 
                    </td>                                          
                  </tr>    
                  <tr>
                    <td scope="row">Ocupación</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_ocupacion }}</td>
                    <td scope="row">Comite</td>
                    <td>{{ solicitud.comitesolicitud.saco_nombre }}</td>                      
                  </tr>
                  <tr>
                    <td scope="row">Correo</td>
                    <td>{{ solicitud.aspirantesolicitud.saas_email }}</td>
                    <td scope="row">Fecha</td>
                    <td>{{ solicitud.solicitudfecha.saef_nombre }}</td>                      
                  </tr>         
        </table>
      </div>
</div>
</tr></tr></thead></table></table></div> </div>


   <div class="row">
    <div class="col-xl-4 col-lg-7">   
      <div class="list-group"> 
          <a class="btn btn-lg btn-danger btn-block"  href="#rev_del" data-toggle="modal" data-id = {{ solicitud.saso_id }} role="button">
            <i class="glyphicon glyphicon-trash"></i> Eliminar solicitud</a>
      </div>
    </div>
  </div> 

    <!-- Logout Modal-->
    <div class="modal fade" id="rev_del" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelR" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelR">Eliminar registro de aspirante</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Este proceso se puede llevar varios segundos. <br>
            Se eliminará toda la información y archivos relacionados con esta solicitud.<br>
            No se podrá eliminar si ya se tiene asignada una prueba de zoom, una fecha de evaluación o un comité para entrevista.
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{{url_for('saso_delete', id_asp = solicitud.saso_aspirante_ceco, id_sol = solicitud.saso_id )}}">Eliminar</a>
          </div>
        </div>
      </div>
    </div>


<br>
<br>



<br>

{% endblock %}
{% block scripts %}
    {{ super() }}
  <script>
  $('#rev_1_1').on('show.bs.modal', function(e) {
      var rp_1_1 = $(e.relatedTarget).data('id');
      $(e.currentTarget).find('input[name="rp_1_1"]').val(rp_1_1);
  });
  </script>
{% endblock %}