{% extends current_user.base_usuario() %}


{% block app_content %}
<div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="{{url_for('nipr_l')}}">Lista de profesores</a></li>
        <li> {{ pr.nipr_rfc }} </li>
      </ul>
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-md-3">
    <div class="list-group">   
        <a class="list-group-item {{status_1}}" href="{{url_for('nipr_p', id = pr.nipr_rfc)}}">Información personal</a>
        <a class="list-group-item {{status_2}}" href="{{url_for('nipr_a', id = pr.nipr_rfc)}}">Formación académica</a>
        <a class="list-group-item {{status_3}}" href="{{url_for('nipr_sni', id = pr.nipr_rfc)}}">SNI</a>
        <a class="list-group-item {{status_4}}" href="{{url_for('nipr_sl', id = pr.nipr_rfc)}}">Situación laboral</a>
        <a class="list-group-item {{status_5}}" href="{{url_for('nipr_ie', id = pr.nipr_rfc)}}">Información de emergencia</a>
        <a class="list-group-item {{status_6}}" href="{{url_for('nipr_arc', id = pr.nipr_rfc)}}">Archivos</a>
    </div>
    </div>



    <div class="col-md-9">
       <div id="crearS1s1" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo profesor</h5>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        {{ wtf(form, button_map={'submit':'success', 'subant':'success'}, horizontal_columns=('lg', 2, 10) ) }}
                      </div>
                  </div>

                </div>
            </div>
        </div>


  {% if status_6 == 'active' %}
    <div class="col-md-9">
       <div id="crearS1s1" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo profesor</h5>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <b>Acta de nacimiento o carta de naturalización</b>: 
                        {% if pr.nipr_file_1 %}
                        <a href="{{url_for('download_nipr_docs', id = pr.nipr_rfc, fname = pr.nipr_file_1 )}}" >{{ pr.nipr_file_1 }}</a><br>
                        {% endif %}
                        {% if pr.nipr_file_2 %}
                        <b>CURP</b>:  
                        <a href="{{url_for('download_nipr_docs', id = pr.nipr_rfc, fname = pr.nipr_file_2 )}}" >{{ pr.nipr_file_2 }}</a><br>
                        {% endif %}
                        {% if pr.nipr_file_3 %}                        
                        <b>RFC</b>:  
                        <a href="{{url_for('download_nipr_docs', id = pr.nipr_rfc, fname = pr.nipr_file_3 )}}" >{{ pr.nipr_file_3 }}</a><br>
                        {% endif %}
                        {% if pr.nipr_file_4 %}                        
                        <b>identificación oficial vigente</b>:  
                        <a href="{{url_for('download_nipr_docs', id = pr.nipr_rfc, fname = pr.nipr_file_4 )}}" >{{ pr.nipr_file_4 }}</a><br>
                        {% endif %}
                        {% if pr.nipr_file_5 %}                        
                        <b>Comprobante de domicilio</b>:  
                        <a href="{{url_for('download_nipr_docs', id = pr.nipr_rfc, fname = pr.nipr_file_5 )}}" >{{ pr.nipr_file_5 }}</a><br>
                        {% endif %}                        
                      </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
  {% endif %}
</div>


{% endblock %}