{% extends base %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div>
  <ul class="nav nav__centrar nav2">
    <li id="profile" class="nav-item ">
      <a class="nav__enlace" href="{{url_for('cepr_perf_ini', id=current_user.pgus_profeid_cepr)}}">Perfil</a>
    </li>
    <li class="nav-item activo" id="publications">
      <a class="nav__enlace" href="{{url_for('cepr_invs_menu', id=current_user.pgus_profeid_cepr)}}">Investigación</a>
    </li>
    <li class="nav-item" id="popular_science">
      <a class="nav__enlace"
        href="{{url_for('cepr_divulgacion_ini', id=current_user.pgus_profeid_cepr)}}">Divulgación</a>
    </li>
    <li class="nav-item" id="outreach_activities">
      <a class="nav__enlace"
        href="{{url_for('cepr_vinculacion_ini', id=current_user.pgus_profeid_cepr)}}">Vinculación</a>
    </li>
    <li class="nav-item" id="teaching">
      <a class="nav__enlace" href="{{url_for('cepr_docencia_cursos', id=current_user.pgus_profeid_cepr)}}">Docencia</a>
    </li>
    <li class="nav-item" id="tech_activities">
      <a class="nav__enlace" href="{{url_for('cepr_tecnicas_ini', id=current_user.pgus_profeid_cepr)}}">Actividades
        técnico-académicas</a>
    </li>
    <li class="nav-item" id="reports">
      <a class="nav__enlace" href="{{url_for('cepr_informes_ini', id=current_user.pgus_profeid_cepr)}}">Informes</a>
    </li>
    <li class="nav-item" id="others">
      <a class="nav__enlace" href="{{url_for('cepr_otros_ini', id=current_user.pgus_profeid_cepr)}}">Otros</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-lg-4 col-md-12 usuario">
    <div class="usuario-top">
      <div class="usuario-top__mascara">
        {% if current_user.pgus_image %}
        <img class="mascara__img" src="{{url_for('static',filename='upload/')}}{{current_user.pgus_image}}"
          alt="Img - usuario ENES JURIQUILLA">
        {% else %}
        <img class="mascara__img" src="{{url_for('static',filename='upload/not-found.png')}}" />
        {% endif %}
      </div>
      <h5>{{ current_user.pgus_username }}</h5>
    </div>

    <div class="card usuario-down">
      <ul class="list-group list-group-flush ">
        {% if current_user.is_active and current_user.pgus_uprofe == True %}
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_menu', id=current_user.pgus_profeid_cepr)}}">Artículos publicados</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_ea', id=current_user.pgus_profeid_cepr)}}">Artículos enviados o aceptados</a>
        <a class="list-group-item active nav__enlace"
          href="{{url_for('cepr_invs_art_libro', id=current_user.pgus_profeid_cepr)}}">Autoría de libros</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_capitulo', id=current_user.pgus_profeid_cepr)}}">Capítulos en libros</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_memoria', id=current_user.pgus_profeid_cepr)}}">Artículos en memorias
          arbitradas</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_reporte', id=current_user.pgus_profeid_cepr)}}">Reportes técnicos</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_resena', id=current_user.pgus_profeid_cepr)}}">Reseñas</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_minextenso', id=current_user.pgus_profeid_cepr)}}">Artículos en memorias In
          Extenso</a>
        {% endif %}
      </ul>
    </div>

  </div>

  <div class="col-lg-8 col-md-12">
    <div class="container">
      <a class="btn btn-outline-success botones__articulos" href="{{url_for('cepr_libro_c_add')}}">Agregar libro</a>
      <div class="row estilo__cards">
        <div class="formu col-lg-12 col-md-12">
          <div class="card text-center align-content-center">
            <div class="card-header">
              <h6>Libros</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Artículo </th>
                      <th>Mostrar</th>
                      <th>Modificar</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Artículo </th>
                      <th>Mostrar</th>
                      <th>Modificar</th>
                      <th>Borrar</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for a in profesor.cepr_libros_autor %}

                    <tr>
                      <td>
                        {{ a.cepr_libro_titulo }}
                      <td>
                        <a href="{{url_for('sapr_plan_m_new', id=a.sapr_plan_id)}}"><span
                            class="glyphicon glyphicon-zoom-in"></span></a>
                      </td>
                      </td>
                      <td>
                        <a href="{{url_for('sapr_plan_m_new', id=a.sapr_plan_id)}}"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                      </td>
                      <td>
                        <a href="{{url_for('cepr_plan_comp')}}"><span class="glyphicon glyphicon-trash"></span></a>
                      </td>
                    </tr>
                    {% endfor %}


                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}