{% extends base %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div>
  <ul class="nav nav__centrar nav2">
    <li id="profile" class="nav-item ">
      <a class="nav__enlace" href="{{url_for('cepr_perf_ini', id=current_user.pgus_profeid_cepr)}}">Perfil</a>
    </li>
    <li class="nav-item activo" id="publications">
      <a class="nav__enlace" href="{{url_for('cepr_invs_menu', id=current_user.pgus_profeid_cepr)}}">Investigación</a>
    </li>
    <li class="nav-item" id="popular_science">
      <a class="nav__enlace"
        href="{{url_for('cepr_divulgacion_ini', id=current_user.pgus_profeid_cepr)}}">Divulgación</a>
    </li>
    <li class="nav-item" id="outreach_activities">
      <a class="nav__enlace"
        href="{{url_for('cepr_vinculacion_ini', id=current_user.pgus_profeid_cepr)}}">Vinculación</a>
    </li>
    <li class="nav-item" id="teaching">
      <a class="nav__enlace" href="{{url_for('cepr_docencia_cursos', id=current_user.pgus_profeid_cepr)}}">Docencia</a>
    </li>
    <li class="nav-item" id="tech_activities">
      <a class="nav__enlace" href="{{url_for('cepr_tecnicas_ini', id=current_user.pgus_profeid_cepr)}}">Actividades
        técnico-académicas</a>
    </li>
    <li class="nav-item" id="reports">
      <a class="nav__enlace" href="{{url_for('cepr_informes_ini', id=current_user.pgus_profeid_cepr)}}">Informes</a>
    </li>
    <li class="nav-item" id="others">
      <a class="nav__enlace" href="{{url_for('cepr_otros_ini', id=current_user.pgus_profeid_cepr)}}">Otros</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-lg-4 col-md-12 usuario">
    <div class="usuario-top">
      <div class="usuario-top__mascara">
        {% if current_user.pgus_image %}
        <img class="mascara__img" src="{{url_for('static',filename='upload/')}}{{current_user.pgus_image}}"
          alt="Img - usuario ENES JURIQUILLA">
        {% else %}
        <img class="mascara__img" src="{{url_for('static',filename='upload/not-found.png')}}" />
        {% endif %}
      </div>
      <h5>{{ current_user.pgus_username }}</h5>
    </div>

    <div class="card usuario-down">
      <ul class="list-group list-group-flush ">
        {% if current_user.is_active and current_user.pgus_uprofe == True %}
        <a class="list-group-item active nav__enlace"
          href="{{url_for('cepr_invs_menu', id=current_user.pgus_profeid_cepr)}}">Artículos publicados</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_ea', id=current_user.pgus_profeid_cepr)}}">Artículos enviados o aceptados</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_libro', id=current_user.pgus_profeid_cepr)}}">Autoría de libros</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_capitulo', id=current_user.pgus_profeid_cepr)}}">Capítulos en libros</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_memoria', id=current_user.pgus_profeid_cepr)}}">Artículos en memorias
          arbitradas</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_reporte', id=current_user.pgus_profeid_cepr)}}">Reportes técnicos</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_resena', id=current_user.pgus_profeid_cepr)}}">Reseñas</a>
        <a class="list-group-item color-default nav__enlace-dark--modificado"
          href="{{url_for('cepr_invs_art_minextenso', id=current_user.pgus_profeid_cepr)}}">Artículos en memorias In
          Extenso</a>
        {% endif %}
      </ul>
    </div>

  </div>

  <div class="col-lg-8 col-md-12">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 botones__articulos">
          <a class="btn btn-outline-success" href="{{url_for('cepr_articulo_c')}}">Agregar registro
            (manual)</a>
          <a class="btn btn-outline-success"
            href="{{url_for('cepr_invs_arts_imp', id=current_user.pgus_profeid_cepr)}}">Importar de GoogleScholar</a>
          <a class="btn btn-outline-success" href="{{url_for('cepr_invs_arts_bibtex')}}">Importar de bibtex</a>
        </div>
      </div>

      <div class="row estilo__cards">
        
        <div class="formu col-lg-12 col-md-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="estilos_titulo-formulario">
                Agregar artículo
              </h6>
            </div>
            <div class="card-body">
              Puedes agregar un artículo copiando la entrada en formato bibtex o cargando el archivo con extensión
              .bib
              <form class="form-horizontal" action="{{url_for('cepr_invs_arts_bibtex')}}" method="POST"
                enctype="multipart/form-data">
                <div class="form-group">
                  {{ form.csrf_token }}
                </div>
                <div class="form-group">
                  {{form.cepr_art_bibtex.label() }}{{form.cepr_art_bibtex(class="form-control", rows="10")}}
                </div>
                <br>
                <hr>
                <br>
                <div class="form-group">
                  {{form.cepr_art_bibtex_file.label() }}
                  
                  {{form.cepr_art_bibtex_file()}}
                </div>
                {{form.submit(class="btn btn-lg btn-outline-success btn-block")}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}