{% extends base %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div>
<nav class="navbar navbar-light topbar shadow">
  <ul class="nav nav-pills">
      <li role="presentation" id="profile"><a href="{{url_for('cepr_perf_ini', id=current_user.pgus_profeid_cepr)}}">Perfil</a></li>
      <li role="presentation" id="publications" class="active"><a href="{{url_for('cepr_invs_menu', id=current_user.pgus_profeid_cepr)}}">Investigación</a></li>
      <li role="presentation" id="popular_science"><a href="{{url_for('cepr_divulgacion_ini', id=current_user.pgus_profeid_cepr)}}">Divulgación</a></li>
      <li role="presentation" id="outreach_activities"><a href="{{url_for('cepr_vinculacion_ini', id=current_user.pgus_profeid_cepr)}}">Vinculación</a></li>
      <li role="presentation" id="teaching"><a href="{{url_for('cepr_docencia_cursos', id=current_user.pgus_profeid_cepr)}}">Docencia</a></li>
      <li role="presentation" id="tech_activities"><a href="{{url_for('cepr_tecnicas_ini', id=current_user.pgus_profeid_cepr)}}">Actividades técnico - académicas</a></li>
      <li role="presentation" id="others"><a href="{{url_for('cepr_otros_ini', id=current_user.pgus_profeid_cepr)}}">Otros</a></li>
      <li role="presentation" id="reports"><a href="{{url_for('cepr_informes_ini', id=current_user.pgus_profeid_cepr)}}">Informes</a></li>
  </ul>
</nav>
</div>
<br>
<br>

  <div class="col-xl-3 col-lg-7">
    <div class="thumbnail">
      {% if current_user.pgus_image %}
      <img src="{{url_for('static',filename='upload/')}}{{current_user.pgus_image}}" style="width:100%"/>
      {% else %}
      <img src="{{url_for('static',filename='upload/not-found.png')}}" style="width:100%"/>
      {% endif %}
    </div>
    <h3>{{ current_user.pgus_username }}</h3>  
    <div class="list-group">   
         {% if current_user.is_active and current_user.pgus_uprofe == True %}      
        <a class="list-group-item" href="#">Artículos publicados</a>
        <a class="list-group-item" href="#">Artículos enviados o aceptados</a>
        <a class="list-group-item" href="#">Autoría de libros</a>
        <a class="list-group-item" href="#">Capítulos en libros</a>
        <a class="list-group-item" href="#">Artículos en memorias arbitradas</a>
        <a class="list-group-item" href="#">Reportes técnicos</a>
        <a class="list-group-item" href="#">Reseñas</a>
        <a class="list-group-item" href="#">Artículos en memorias In Extenso</a>
        {% endif %}
    </div>
</div>


    <div class="col-xl-3 col-lg-7">
      <div class="list-group">   
        <a class="list-group-item active" href="{{url_for('cepr_articulo_c')}}">Agregar registro (manual)</a>
      </div>
    </div>


    <div class="col-xl-3 col-lg-12">
      <div class="list-group">   
        <a class="list-group-item active" href="{{url_for('cepr_invs_arts_imp', id=current_user.pgus_profeid_cepr)}}">Importar de GoogleScholar</a>
        <br>
      </div>
    </div>

<div class="col-xl-3 col-lg-12">
      <div class="list-group">   
        <a class="list-group-item active" href="{{url_for('cepr_invs_arts_bibtex')}}">Importar de bibtex</a>
        <br>
      </div>
    </div>


<div class="col-xl-9 col-lg-12">
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h4 class="m-0 font-weight-bold text-primary">
                <a href="{{url_for('cepr_invs_menu', id= current_user.pgus_profeid_cepr)}}"> Mis artículos </a> / 
                <a href="{{url_for('cepr_invs_arts_o', id=current_user.pgus_profeid_cepr)}}"> Artículos de otros académicos</a>
              </h4>            
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Artículo </th>
                      <th>Mostrar</th> 
                      <th>Modificar</th>
                      <th>Borrar</th> 
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Artículo </th>
                      <th>Mostrar</th> 
                      <th>Modificar</th>
                      <th>Borrar</th>                    
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for a in profesor.cepr_articulos_arts if a.cepr_articulo_creador|string != current_user.pgus_profeid_cepr|string %}
                  <tr>
                    <td>
                      {{ a.cepr_articulo_titulo }}
                    <td>                      
                      <a href="{{url_for('sapr_plan_m_new', id=a.sapr_plan_id)}}"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
                    </td>
                    <td>
                      <a href="{{url_for('sapr_plan_m_new', id=a.sapr_plan_id)}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                      <a href="{{url_for('cepr_plan_comp')}}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                  

                  </tr>
                {% endfor %}  


        </table>
      </div>
</div>
</div>
</div> 
</div>


{% endblock %}