{% extends "nipr/base_nipr.html" %}


{% block app_content %}

<div class="row">
  {% if avance<20 %} <div class="col-lg-2">
</div>
{% endif %}

{% if avance>19%}
<div class="col-lg-4 col-md-12 mb-4">
  <div class="formulario__titulo">
    <h6>Nuevo profesor: {{pr.nipr_nombre}}</h6>
  </div>
  <br> <br>
  <div class="card justify-content-center">
    <ul class="list-group list-group-flush ">
      
      <!-- Completado -->
      {% if pr.nipr_seccion_1 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_1', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Información personal </a>      
      {% else %}
      <a class="list-group-item nav__enlace-dark--modificado color-default" href="{{url_for('nipr_c_1', id = pr.nipr_rfc)}}">
        <i class="fas fa-file-excel text-danger"></i> Información personal </a>
      {% endif %}

      {% if pr.nipr_seccion_2 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_2', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i>  Estudios concluidos con grado académico</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_2', id = pr.nipr_rfc)}}">
        <i class="fas fa-file-excel text-danger"></i> Estudios concluidos con grado académico</a>
      {% endif %}

      {% if pr.nipr_seccion_3 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_3', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i>  Sistema Nacional de Investigadores (SNI)</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_3', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Sistema Nacional de Investigadores (SNI)</a>
      {% endif %}

      {% if pr.nipr_seccion_4 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_4', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Situación laboral</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_4', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Situación laboral</a>
      {% endif %}

      {% if pr.nipr_seccion_5 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_5', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Información de Emergencia</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_5', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Información de Emergencia</a>
      {% endif %}

      {% if pr.nipr_seccion_6 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_6', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Documentos probatorios</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_6', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Documentos probatorios</a>
      {% endif %}

    </ul>
  </div>
</div>
{% endif %}

<div id="crearS1s1" class="col-lg-8 col-md-12 justify-content-center">
  <div class="container">

    <div class="formulario__titulo">
      <h6 id="titulo">{{title}}</h6>
    </div>
    <br>

    <form class="formu" action="{{url_for('nipr_c_2', id = pr.nipr_rfc)}}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for field, errors in form.errors.items() %}
          <div class="alert alert-danger">
            {{ form[field].label }}: {{ ', '.join(errors) }}
          </div>
        {% endfor %}
        <label>
          <span class="formulario_label">
            SELECCIONAR LOS ESTUDIOS CONCLUIDOS CON GRADO ACADÉMICO (CLASIFICACIÓN ACORDE A LA DGAE-UNAM)*
            <a href="https://www.dgae.unam.mx/" target="_blank"> Enlace </a>
          </span>
        </label>
        <br>
        <div class="form-group">
          {{form.nipr_grado_lic()}} {{form.nipr_grado_lic.label(class="formulario_label") }} 
        </div>
        <div class="form-group">
          {{form.nipr_grado_esp()}} {{form.nipr_grado_esp.label(class="formulario_label") }} 
        </div>
        <div class="form-group">
          {{form.nipr_grado_mas()}} {{form.nipr_grado_mas.label(class="formulario_label") }} 
        </div>
        <div class="form-group">
          {{form.nipr_grado_doc()}} {{form.nipr_grado_doc.label(class="formulario_label") }} 
        </div>
        <div class="form-group">
          {{form.nipr_grado_pdoc()}} {{form.nipr_grado_pdoc.label(class="formulario_label") }} 
        </div>
        <hr>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Instrucciones</h5>
            <p>Para cada grado de estudios seleccionado proporcionar evidencia.<br>
              Dar clic en el botón "Agregar nuevo grado" y completar la información por cada grado.</p>
            <div class="form-group mb-2">
              {{form.add_grado(class="btn btn-success" )}}
            </div>
            <hr>
                <p class="card-text">{% for a in pr.nipr_grado_obj 
                |sort(attribute="nipr_grado", reverse = False) %}
                
                {% if a.nipr_titulo %}
                <b>Título</b>: {{ a.nipr_titulo }}<br>
                {% endif %}

                <b>Grado de Estudios</b>: {{a.grado()}} <br>
                <b>Universidad</b>: {{ a.nipr_universidad }}<br>
                <b>País</b>: {{ a.nipr_pais }}<br>
                
                {% if a.nipr_fechaexamen %}
                <b>Fecha de examen</b>: {{ a.nipr_fechaexamen.strftime('%d-%m-%Y') }}<br>
                {% endif %}

                {% if a.nipr_fechaexpedi %}
                <b>Fecha de expedición del título</b>: {{ a.nipr_fechaexpedi.strftime('%d-%m-%Y') }}<br>
                {% endif %}
                <b>Archivo</b>:<a href="{{url_for('download_nipr_grado', id_file=a.nipr_grado_id, id_nipr = pr.nipr_rfc)}}"> {{ a.nipr_file_1}}</a><br>
                <a href="{{url_for('nipr_m_grado', id_tipo = a.nipr_grado, id_gr = a.nipr_grado_id, id_nipr = pr.nipr_rfc)}}" class="btn btn-sm btn-warning"
                role="button">Modificar</a>
                <a href="{{url_for('nipr_d_grado', id=a.nipr_grado_id)}}" class="btn btn-sm btn-danger"
                role="button">Eliminar</a><br>
                <hr>
                {% endfor %}
                </p>

          </div>
        </div>

         {{form.submit(class="formulario__boton" )}}
    </form>

    <br>
    <div class="progress mb-5">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
        style="width:{{pr.nipr_advance()}}%">
      </div>
    </div>
  </div>
</div>

{% endblock %}