{% extends "nipr/base_nipr.html" %}


{% block app_content %}

<div class="row">

<div class="col-lg-4 col-md-12 mb-4">
  <div class="formulario__titulo">
    <h6>Nuevo profesor: {{pr.nipr_nombre}}</h6>
  </div>
  <br> <br>
  <div class="card justify-content-center">
    <ul class="list-group list-group-flush ">
      
      <!-- Completado -->
      {% if pr.nipr_seccion_1 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_1', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Información personal </a>      
      {% else %}
      <a class="list-group-item nav__enlace-dark--modificado color-default" href="{{url_for('nipr_c_1', id = pr.nipr_rfc)}}">
        <i class="fas fa-file-excel text-danger"></i> Información personal </a>
      {% endif %}

      {% if pr.nipr_seccion_2 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_2', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i>  Estudios concluidos con grado académico</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_2', id = pr.nipr_rfc)}}">
        <i class="fas fa-file-excel text-danger"></i> Estudios concluidos con grado académico</a>
      {% endif %}

      {% if pr.nipr_seccion_3 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_3', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i>  Sistema Nacional de Investigadores (SNI)</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_3', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Sistema Nacional de Investigadores (SNI)</a>
      {% endif %}

      {% if pr.nipr_seccion_4 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_4', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Situación laboral</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_4', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Situación laboral</a>
      {% endif %}

      {% if pr.nipr_seccion_5 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_5', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Información de Emergencia</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_5', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Información de Emergencia</a>
      {% endif %}

      {% if pr.nipr_seccion_6 == True %}
      <a class="list-group-item nav__enlace-dark--modificado active" href="{{url_for('nipr_c_6', id = pr.nipr_rfc)}}">
        <i class="fas fa-check-square text-success"></i> Documentos probatorios</a>
      {% else %}
      <a class="list-group-item color-default nav__enlace-dark--modificado" href="{{url_for('nipr_c_6', id = pr.nipr_rfc)}}"> <i class="fas fa-check-square text-danger"></i> Documentos probatorios</a>
      {% endif %}

    </ul>
  </div>
</div>

<div id="crearS1s1" class="col-lg-8 col-md-12 justify-content-center">
  <div class="container">

    <div class="formulario__titulo">
      <h6 id="titulo">{{title}}</h6>
    </div>
    <br>

    <form class="formu" action="{{url_for('nipr_c_5', id = pr.nipr_rfc)}}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for field, errors in form.errors.items() %}
          <div class="alert alert-danger">
            {{ form[field].label }}: {{ ', '.join(errors) }}
          </div>
        {% endfor %}
        <hr>
        <div class="form-group">
          {{form.nipr_nss.label(class = "formulario_label") }}
          {{form.nipr_nss(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_sgmm.label(class = "formulario_label", id = "sgmm_l") }}
          {{form.nipr_sgmm(class ="form-control", id = "sgmm" )}}
        </div>
        <div class="form-group">
          {{form.nipr_sgmm_poliza.label(class = "formulario_label", id = "poliza_l") }}
          {{form.nipr_sgmm_poliza(class ="form-control", id = "poliza" )}}
        </div>
        <div class="form-group">
          {{form.nipr_sgmm_cert.label(class = "formulario_label", id = "cert_l") }}
          {{form.nipr_sgmm_cert(class ="form-control", id = "cert" )}}
        </div>
        <div class="form-group">
          {{form.nipr_alergia_med.label(class = "formulario_label") }}
          {{form.nipr_alergia_med(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_alergia_alim.label(class = "formulario_label") }}
          {{form.nipr_alergia_alim(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_tipo_sangre.label(class = "formulario_label") }}
          {{form.nipr_tipo_sangre(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c1nombre.label(class = "formulario_label") }}
          {{form.nipr_c1nombre(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c1direccion.label(class = "formulario_label") }}
          {{form.nipr_c1direccion(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c1telefono.label(class = "formulario_label") }}
          {{form.nipr_c1telefono(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c1email.label(class = "formulario_label") }}
          {{form.nipr_c1email(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c1parentesco.label(class = "formulario_label") }}
          {{form.nipr_c1parentesco(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c2nombre.label(class = "formulario_label") }}
          {{form.nipr_c2nombre(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c2direccion.label(class = "formulario_label") }}
          {{form.nipr_c2direccion(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c2telefono.label(class = "formulario_label") }}
          {{form.nipr_c2telefono(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c2email.label(class = "formulario_label") }}
          {{form.nipr_c2email(class ="form-control" )}}
        </div>
        <div class="form-group">
          {{form.nipr_c2parentesco.label(class = "formulario_label") }}
          {{form.nipr_c2parentesco(class ="form-control" )}}
        </div>

         {{form.submit(class="formulario__boton" )}}
    </form>

    <br>
    <div class="progress mb-5">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
        style="width:{{pr.nipr_advance()}}%">
      </div>
    </div>
  </div>
</div>

  <br>
  <br>
  {% endblock %}

    {% block scripts %}
{{ super() }}
<script>  
  $('#poliza_l').hide();
  $('#poliza').hide();
  $('#cert_l').hide();
  $('#cert').hide();
</script>

<script>
  jQuery(document).ready(function () {
    $("#sgmm").change(function () {
      var chosen_val = $(this).val();
      if (chosen_val == 'Sí') {
          $('#poliza_l').show();
          $('#poliza').show();
          $('#cert_l').show();
          $('#cert').show();


      } else if (chosen_val == 'No') {
            $('#poliza_l').hide();
            $('#poliza').hide();
            $('#cert_l').hide();
            $('#cert').hide();

      } else {
            $('#poliza_l').hide();
            $('#poliza').hide();
            $('#cert_l').hide();
            $('#cert').hide();

      }
    });
  });
</script>



{% endblock %}
