{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

  <!-- Begin Page Content -->
  <div class="container-fluid">

  <div class="col-md-4">
    <h3> Generar reporte de solicitudes </h3>
    <br>    
            {{ wtf.quick_form(form, button_map={'consultar':'success', 'download':'info'}, horizontal_columns=('lg', 2, 10) ) }}
   </div>
</div>
         <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Solicitudes Ciencias Genómicas</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Solicitudes de nuevo ingreso</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Imagen</th>
                      <th>Folio</th>
                      <th>Nombre</th>
                      <th>Carrera</th>
                      <th>Correo</th>
                      <th>CURP</th>
                      <th>Detalle</th>
                      <th>Solicitud</th>
                      <th>Revisión</th>                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Imagen</th>
                      <th>Folio</th>
                      <th>Nombre</th>
                      <th>Carrera</th>
                      <th>Correo</th>
                      <th>CURP</th>
                      <th>Detalle</th>
                      <th>Solicitud</th>
                      <th>Revisión</th>
                    </tr>
                  </tfoot>
                  <tbody>
          {% for a in solicitudes %}
          <tr>
            {% if a.saasg_imagen %}
            <td><img src="{{url_for('static',filename='solicitudes/20212/cg215/')}}{{a.saasg_curp}}/{{a.saasg_imagen}}" width="100" height="110"/> </td>           
            {% else %}
            <td>{{a.saasg_imagen}}</td>
            {% endif %}
            <td>{{a.saasg_folio}}</td>
            <td>{{ a.saasg_nombre }} {{ a.saasg_papellido }} {{ a.saasg_sapellido }}</td>          
            <td>{{a.saasg_carrera_ceco}}</td>  
            <td>{{a.saasg_email}}</td>           
            <td>{{a.saasg_curp}}</td>
            <td><a href="{{ url_for('saro_view', id = a.saasg_id) }}">Detalle</a></td>
            <td><a href="{{ url_for('down_cg_file', id_curp = a.saasg_curp, id_saasg = a.saasg_id) }}">Expediente</a></td>
            {% if a.saasg_status == 'Aprobada' %}
              <td class="success"> {{ a.saasg_status }}</td>
            {% elif a.saasg_status == 'Rechazada' %}              
                <td class="danger">{{ a.saasg_status }} </td>
            {% elif a.saasg_status == 'Solicitud registrada' %}              
                <td class="info">{{ a.saasg_status }} </td>
            {% else %}
              <td class="info">{{ a.saasg_status }}</td>
            {% endif %}
          </tr>
          {% endfor %}          
        </table>
      </div>
</div>



{% endblock %}