{% extends base %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block css %}
{{ super()}}
<link type="text/css" href="{{url_for('static',filename='nmaquetado/css/perfil.css')}}" rel="stylesheet">
{% endblock %} 
{% block title %}{{title}}{% endblock %} 
{% block app_content %}

<div class=" row">
    <div class="col-lg-1 col-md-12"></div>
    <div class="col-lg-10 col-md-12">
        <!-- Se ocupa el estilo del stylesheet inicio.css, -->
        <div class="card card--modificado ">
            <div class="card-header card-header--modificado">
                <h6>Inicio/continuación del proceso de registro (2/3)</h6>
            </div>
            <div class="card-body">
                <form action="{{url_for('solicitud_genomicas_215_p1', id_curp = aspirante.saas_curp, id_sol = solicitud.saso_id )}}" method="POST" enctype="multipart/form-data"> 
                {% for field, errors in form.errors.items() %}
                  <div class="alert alert-danger">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                  </div>
                {% endfor %}     
                  <div class="form-group">
                    <div class="form-group">
                      {{ form.csrf_token }}
                      </div>
                    <div class="form-group">
                      {{form.saas_papellido.label(class="formulario_label") }}{{form.saas_papellido(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_sapellido.label(class="formulario_label") }}{{form.saas_sapellido(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_nombre.label(class="formulario_label") }}{{form.saas_nombre(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_curp.label(class="formulario_label") }}{{form.saas_curp(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_fnacimiento.label(class="formulario_label") }}{{form.saas_fnacimiento(cols="60", class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_enacimiento.label(class="formulario_label") }}{{form.saas_enacimiento(class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_lnacimiento.label(class="formulario_label") }}{{form.saas_lnacimiento(class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_nacionalidad.label(class="formulario_label") }}{{form.saas_nacionalidad(rows="20",cols="60",class="form-control")}}
                    </div>                         
                    <div class="form-group">
                      {{form.saas_sexo.label(class="formulario_label") }}{{form.saas_sexo(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_ecivil.label(class="formulario_label") }}{{form.saas_ecivil(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_estado.label(class="formulario_label") }}{{form.saas_estado(rows="20",cols="60",class="form-control", id = "estado_proc")}}
                    </div> 
                    <div class="form-group">
                      {{form.saas_municipio.label(class="formulario_label") }}{{form.saas_municipio(rows="20",cols="60",class="form-control", id = "municipio_proc")}}
                    </div> 
                    <div class="form-group">
                      {{form.saas_colonia.label(class="formulario_label") }}{{form.saas_colonia(rows="20",cols="60",class="form-control")}}
                    </div>                        
                    <div class="form-group">
                      {{form.saas_callen.label(class="formulario_label") }}{{form.saas_callen(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_cp.label(class="formulario_label") }}{{form.saas_cp(rows="20",cols="60",class="form-control")}}
                    </div> 
                    <div class="form-group">
                      {{form.saas_telefono.label(class="formulario_label") }}{{form.saas_telefono(rows="20",cols="60",class="form-control")}}
                    </div>  
                    <div class="form-group">
                      {{form.saas_celular.label(class="formulario_label") }}{{form.saas_celular(rows="20",cols="60",class="form-control")}}
                    </div>  
                    <div class="form-group">
                      {{form.saas_ocupacion.label(class="formulario_label") }}{{form.saas_ocupacion(rows="40",cols="60",class="form-control")}}
                    </div>
                    
                    <div class="form-group">
                      {{form.saas_lengua.label(class="formulario_label") }}{{form.saas_lengua(rows="20",cols="60",class="form-control")}}
                    </div>  
                    <div class="form-group">
                      {{form.saas_lengua_descr.label(class="formulario_label") }}{{form.saas_lengua_descr(rows="40",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_discapacidad.label(class="formulario_label") }}{{form.saas_discapacidad(rows="20",cols="60",class="form-control")}}
                    </div>  
                    <div class="form-group">
                      {{form.saas_discapacidad_descr.label(class="formulario_label") }}{{form.saas_discapacidad_descr(rows="40",cols="60",class="form-control")}}
                    </div>

                    <hr>
                    <div class="form-group">
                      {{form.saas_bachillerato.label(class="formulario_label") }}{{form.saas_bachillerato(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_promedio.label(class="formulario_label") }}{{form.saas_promedio(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_tiempobachiller.label(class="formulario_label") }}{{form.saas_tiempobachiller(rows="20",cols="60",class="form-control")}}
                    </div> 
                    <div class="form-group">
                      {{form.saas_ebachiller.label(class="formulario_label") }}{{form.saas_ebachiller(rows="20",cols="60",class="form-control", id = "estado_bach")}}
                    </div> 
                    <div class="form-group">
                      {{form.saas_lbachiller.label(class="formulario_label") }}{{form.saas_lbachiller(rows="20",cols="60",class="form-control", id = "municipio_bach")}}
                    </div> 
                    <hr>
                    
                    <div class="form-group">
                      {{form.saas_email.label(class="formulario_label") }}{{form.saas_email(rows="20",cols="60",class="form-control")}}
                    </div>
                    <div class="form-group">
                      {{form.saas_email.label(class="formulario_label") }}{{form.saas_email(rows="20",cols="60",class="form-control")}}
                    </div>                         
                    <br>
                    {{form.submit(class="formulario__boton")}}<br>
           
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>







 			
{% endblock %}


{% block scripts %}
    {{ super() }}
<script>

    estado_select_nac = document.getElementById("saas_enacimiento");
    municipio_select_nac = document.getElementById("saas_lnacimiento");

    estado_select_nac.onchange = function()  {
      estado_nac = estado_select_nac.value;

        fetch('/mun_entidad/' + estado_nac).then(function(response) {
            response.json().then(function(data) {
              var optionHTML = '';

                for (var municipio of data.municipios) {
                    optionHTML += '<option  value=' +  municipio.cve_mun + '>' + municipio.nom_cab + '</option>';
                }

                municipio_select_nac.innerHTML = optionHTML;
                console.table(data)

            });
         //alert(estado_nac)                
        });
      }

</script>

<script>

    estado_select_proc = document.getElementById("estado_proc");
    municipio_select_proc = document.getElementById("municipio_proc");

    estado_select_proc.onchange = function()  {
      estado_proc = estado_select_proc.value;

        fetch('/mun_entidad/' + estado_proc).then(function(response) {
            response.json().then(function(data) {
              var optionHTML = '';

                for (var municipio of data.municipios) {
                    optionHTML += '<option  value=' +  municipio.cve_mun + '>' + municipio.nom_cab + '</option>';
                }

                municipio_select_proc.innerHTML = optionHTML;
                console.table(data)

            });
         //alert(estado_proc)
        });
      }

</script>

<script>

    estado_select_bach = document.getElementById("estado_bach");
    municipio_select_bach = document.getElementById("municipio_bach");

    estado_select_bach.onchange = function()  {
      estado_bach = estado_select_bach.value;

        fetch('/mun_entidad/' + estado_bach).then(function(response) {
            response.json().then(function(data) {
              var optionHTML = '';

                for (var municipio of data.municipios) {
                    optionHTML += '<option  value=' +  municipio.cve_mun + '>' + municipio.nom_cab + '</option>';
                }

                municipio_select_bach.innerHTML = optionHTML;
                console.table(data)

            });
         //alert(estado_bach)
        });
      }

</script>



{% endblock %}


