{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<ol class="breadcrumb">
  <li><a href="{{url_for('ceom_cepr_actual', id = profesor.cepr_ntrabajador )}}">Materias actuales</a></li>
  <li class="active">Ciclo {{ semestre.cese_ciclo }}</li>
</ol>


<div class="container">
<div class="row">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DATOS GENERALES</h5>
                  </div>
                  <div class="modal-body">
                        {% for field, errors in form.errors.items() %}
                        <div class="alert alert-danger">
                            {{ form[field].label }}: {{ ', '.join(errors) }}
                        </div>
                        {% endfor %}

                      <div class="form-group">
                      <form action="#" method="POST" enctype="multipart/form-data">

                        {{ form.csrf_token }}
                        <table>
                          <tr>
                             <td><b>Nombre</b>: </td>
                             <td>{{profesor.cepr_nombre}} {{profesor.cepr_papellido}} {{profesor.cepr_sapellido}}</td>
                          </tr>
                          <tr>
                             <td><b>No. de trabajador</b>: </td>
                             <td>{{profesor.cepr_ntrabajador}}</td>
                          </tr>
                          <tr>
                             <td><b>Categoría</b>: </td>
                             <td>{% if profesor.cepr_nombramiento == 0 %} Sin Nombramiento {% endif %} {% if profesor.cepr_nombramiento == 1 %} Profesor de Asignatura {% endif %} {% if profesor.cepr_nombramiento == 2 %} Profesor Carrera {% endif %} {% if profesor.cepr_nombramiento == 3 %} T&eacute;cnico Acad&eacute;mico {% endif %} {% if profesor.cepr_nombramiento == 4 %} Ayudante de Profesor {% endif %} {% if profesor.cepr_nombramiento == 5 %} Ayudante de Investigador {% endif %} {% if profesor.cepr_nombramiento == 6 %} Investigador {% endif %}</td>
                          </tr>                          
                          <tr>
                             <td><b>E-mail</b>: </td>
                             <td>{{profesor.cepr_email}}</td>
                          </tr>
                          <tr>
                             <td><b>Carrera de adscripción</b>: </td>
                             <td>{{ profesor.cepr_carrera_ads }} </td>
                          </tr>

                          {% for p in profesor.cepr_clases_ceom if p.ceom_ciclo_cese == semestre.cese_ciclo  %}
                          <tr>
                             <td><b>Asignatura {{loop.index}}</b>: </td>
                             <td> {{p.ceom_nombre}} (Plan {{p.ceom_plan_cepe}})
                             </td>
                          </tr>
                          {% endfor %}                                                  
                        </table>
                    </div>
                  </div>
                </div>
         </div>

              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <div class="form-group">
                          Durante el presente semestre, ¿en cuántas ocasiones participó en algunas de las siguientes actividades académicas? 

                          <table  border="black" aria-rowcount="11" style="width: 100%;" >
                          <tbody>
                          <tr>
                            <td style="width: 30%;" style="text-align: center;" colspan="1" rowspan="2" >
                              <p><strong><span data-contrast="auto">Actividades</span></strong></p>
                            </td>
                            <td style="text-align: center;" colspan="2" style="width: 70%;" >
                                <p style="text-align: center;"><strong><span data-contrast="auto">Cantidad</span></strong></p>
                            </td>
                          </tr>
                          <tr aria-rowindex="2">
                            <td style="text-align: center;" >
                            <p><strong><span data-contrast="auto">ENES Juriquilla</span></strong></p>
                            </td>
                            <td style="text-align: center;" >
                            <p><strong><span data-contrast="auto">Otra entidad(es), mencione cu&aacute;l/es</span></strong></p>
                            </td>
                          </tr>

                          <tr aria-rowindex="3">
                            <td>
                            <p><span data-contrast="auto">Direcci&oacute;n de trabajos de titulaci&oacute;n</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq1_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq1_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr aria-rowindex="4">
                            <td>
                            <p><span data-contrast="auto">Revisi&oacute;n de trabajos de titulaci&oacute;n</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq2_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq2_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                            <p><span data-contrast="auto">Ex&aacute;menes profesionales</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq3_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq3_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr aria-rowindex="6">
                            <td>
                            <p><span data-contrast="auto">Asesor&iacute;a para egresados</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq4_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq4_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr aria-rowindex="7">
                            <td>
                            <p><span data-contrast="auto">Ex&aacute;menes extraordinarios</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq5_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq5_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr aria-rowindex="8">
                            <td>
                            <p><span data-contrast="auto">Impartici&oacute;n de cursos intersemestrales o de actualizaci&oacute;n docente</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq6_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq6_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr aria-rowindex="9">
                            <td>
                            <p><span data-contrast="auto">Tutor&iacute;as</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq7_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq7_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr aria-rowindex="10">
                            <td>
                            <p><span data-contrast="auto">Realizaci&oacute;n de material did&aacute;ctico</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq8_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq8_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          <tr aria-rowindex="11">
                            <td>
                            <p><span data-contrast="auto">Publicaciones</span></p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq9_enes(class="form-control") }} </p>
                            </td>
                            <td>
                            <p>{{ form.cepr_general_q1_sq9_extern(class="form-control") }} </p>
                            </td>
                          </tr>
                          </tbody>
                          </table>





                        </div>
                        <div class="form-group">
                          <b>EVENTOS ACADÉMICOS</b> <br>
                          <p>
                          {{ form.cepr_general_q2.label() }} 
                          {{ form.cepr_general_q2(class="form-control") }} <br>
                          {{ form.cepr_general_q2_sq1.label(id = "cepr_general_q2_sq1_label") }} 
                          {{ form.cepr_general_q2_sq1(class="form-control") }} 
                          {{ form.cepr_general_q2_sq2.label(id = "cepr_general_q2_sq2_label") }} 
                          {{ form.cepr_general_q2_sq2(class="form-control") }} 
                          {{ form.cepr_general_q2_sq3.label(id = "cepr_general_q2_sq3_label") }} 
                          {{ form.cepr_general_q2_sq3(class="form-control") }} 
                          {{ form.cepr_general_q2_sq4.label(id = "cepr_general_q2_sq4_label") }} 
                          {{ form.cepr_general_q2_sq4(class="form-control") }} 
                          </p>

                        </div>
                        <div class="form-group">
                          <b>Si su respuesta es positiva indique cómo fue su participación y escriba en el rubro correspondiente el nombre de la entidad responsable</b><br>

                          <table  border="black" aria-rowcount="11" style="width: 100%;" id = "table_detalle_q4">
                          <tbody>
                          <tr>
                          <td>
                          <p><strong><span data-contrast="auto">Tipo de Evento</span></strong></p>
                          </td>
                          <td>
                          <p><strong><span data-contrast="auto">Coordinador</span></strong></p>
                          </td>
                          <td>
                          <p><strong><span data-contrast="auto">Ponente / Expositor</span></strong></p>
                          </td>
                          <td>
                          <p><strong><span data-contrast="auto">Asistente</span></strong></p>
                          </td>
                          <td>
                          <p><strong><span data-contrast="auto">Organizador</span></strong></p>
                          </td>
                          <td>
                          <p><strong><span data-contrast="auto">Relator y/o Moderador</span></strong></p>
                          </td>
                          </tr>
                          <tr aria-rowindex="2">
                          <td>
                          <p><span data-contrast="auto">Conferencia</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq1_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq1_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq1_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq1_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq1_e(class="form-control") }} </p>
                          </td>
                          </tr>
                          <tr aria-rowindex="3">
                          <td>
                          <p><span data-contrast="auto">Exposiciones</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq2_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq2_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq2_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq2_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq2_e(class="form-control") }} </p>
                          </td>
                          </td>
                          </tr>
                          <tr aria-rowindex="4">
                          <td>
                          <p><span data-contrast="auto">Mesa</span><span data-contrast="auto">&nbsp;r</span><span data-contrast="auto">edonda</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq3_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq3_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq3_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq3_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq3_e(class="form-control") }} </p>
                          </td>
                          </tr>
                          <tr>
                          <td>
                          <p><span data-contrast="auto">Presentaci&oacute;n</span><span data-contrast="auto">&nbsp;</span><span data-contrast="auto">de libros</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq4_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq4_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq4_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq4_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq4_e(class="form-control") }} </p>
                          </td>
                          </tr>
                          <tr aria-rowindex="6">
                          <td>
                          <p><span data-contrast="auto">Debate</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq5_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq5_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq5_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq5_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq5_e(class="form-control") }} </p>
                          </td>
                          </tr>
                          <tr aria-rowindex="7">
                          <td>
                          <p><span data-contrast="auto">Eventos ENESJ</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq6_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq6_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq6_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq6_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq6_e(class="form-control") }} </p>
                          </td>
                          </tr>
                          <tr aria-rowindex="8">
                          <td>
                          <p><span data-contrast="auto">Eventos externos a la ENESJ</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq7_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq7_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq7_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq7_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq7_e(class="form-control") }} </p>
                          </td>
                          </tr>
                          <tr aria-rowindex="9">
                          <td>
                          <p><span data-contrast="auto">Congreso</span></p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq8_a(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq8_b(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq8_c(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq8_d(class="form-control") }} </p>
                          </td>
                          <td>
                            <p>{{ form.cepr_general_q4_sq8_e(class="form-control") }} </p>
                          </td>
                          </td>
                          </tr>
                          </tbody>
                          </table>



                        </div>
                        <div class="form-group">
                          <b>SUPERACIÓN ACADÉMICA Y ACTUALIZACIÓN DOCENTE</b> <br>
                          <p>
                          {{ form.cepr_general_q5.label() }} 
                          {{ form.cepr_general_q5(class="form-control") }} <br>

                          </p>
                          <table  border="black" aria-rowcount="11" style="width: 100%;" id = "table_detalle_q5">
                              <tbody>
                              <tr>
                              <td>
                              <p><strong><span data-contrast="auto">Tipo de actividad</span></strong></p>
                              </td>
                              <td>
                              <p><strong><span data-contrast="auto">En la ENES Juriquilla</span></strong></p>
                              </td>
                              <td>
                              <p><strong><span data-contrast="auto">Otras dependencias de la UNAM</span></strong></p>
                              </td>
                              <td>
                              <p><strong><span data-contrast="auto">Externas</span></strong></p>
                              </td>
                              </tr>
                              <tr aria-rowindex="2">
                              <td>
                              <p><span data-contrast="auto">Cursos</span></p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq1_a(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq1_b(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq1_c(class="form-control") }} </p>
                              </td>
                              </tr>
                              <tr aria-rowindex="3">
                              <td>
                              <p><span data-contrast="auto">Seminarios</span></p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq2_a(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq2_b(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq2_c(class="form-control") }} </p>
                              </td>
                              </tr>
                              <tr aria-rowindex="4">
                              <td>
                              <p><span data-contrast="auto">Talleres</span></p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq3_a(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq3_b(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq3_c(class="form-control") }} </p>
                              </td>
                              </tr>
                              <tr>
                              <td>
                              <p><span data-contrast="auto">Diplomados</span></p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq4_a(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq4_b(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq4_c(class="form-control") }} </p>
                              </td>
                              </tr>
                              <tr aria-rowindex="6">
                              <td>
                              <p><span data-contrast="auto">Estudios de p</span><span data-contrast="auto">osgrado</span></p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq5_a(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq5_b(class="form-control") }} </p>
                              </td>
                              <td>
                                <p>{{ form.cepr_general_q5_sq5_c(class="form-control") }} </p>
                              </td>
                              </tr>
                              </tbody>
                              </table>


                        </div>

                          
                          <table style="width: 100%;" cellspacing="50" cellpadding="50">
                            <tr>
                              <td>
                                {{form.save(class="btn btn-lg btn-info btn-block")}}  
                              </td>
                              <td>  
                                {{form.submit(class="btn btn-lg btn-success btn-block")}}
                              </td>
                            </tr>
                          </table>

                      </form>
                      </div>
                  </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>






<br>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
       $('#q4_descrip').hide();
       $('#q6_descrip').hide();
       $('#q7_descrip').hide();
       $('#cepr_general_q2_sq1').hide();
       $('#cepr_general_q2_sq1_label').hide();
       $('#cepr_general_q2_sq2').hide();
       $('#cepr_general_q2_sq2_label').hide();
       $('#cepr_general_q2_sq3').hide();
       $('#cepr_general_q2_sq3_label').hide();
       $('#cepr_general_q2_sq4').hide();
       $('#cepr_general_q2_sq4_label').hide();
       $('#table_detalle_q4').hide();
       $('#table_detalle_q5').hide();
    </script>
    <script>
        jQuery(document).ready(function() {
            $("#q4").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val != 'No') {
                    $('#q4_descrip').show();
                } else {
                    $('#q4_descrip').hide();
                }
            });
        });
    </script>

    <script>
        jQuery(document).ready(function() {
            $("#q6-5").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val = false ) {
                    $('#q6_descrip').hide();
                } else if (chosen_val = true ) {
                    $('#q6_descrip').show();
                }
            });
        });
    </script>

    <script>
        jQuery(document).ready(function() {
            $("#q7-6").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val = false ) {
                    $('#q7_descrip').hide();
                } else if (chosen_val = true ) {
                    $('#q7_descrip').show();
                }
            });
        });
    </script>


    <script>
        jQuery(document).ready(function() {
            $("#cepr_general_q2").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val != 'No' ) {
                    $('#cepr_general_q2_sq1').show();
                    $('#cepr_general_q2_sq1_label').show();
                    $('#cepr_general_q2_sq2').show();
                    $('#cepr_general_q2_sq2_label').show();
                    $('#cepr_general_q2_sq3').show();
                    $('#cepr_general_q2_sq3_label').show();
                    $('#cepr_general_q2_sq4').show();
                    $('#cepr_general_q2_sq4_label').show();
                    $('#table_detalle_q4').show();
                } else  {
                    $('#cepr_general_q2_sq1').hide();
                    $('#cepr_general_q2_sq1_label').hide();
                    $('#cepr_general_q2_sq2').hide();
                    $('#cepr_general_q2_sq2_label').hide();
                    $('#cepr_general_q2_sq3').hide();
                    $('#cepr_general_q2_sq3_label').hide();
                    $('#cepr_general_q2_sq4').hide();
                    $('#cepr_general_q2_sq4_label').hide();
                    $('#table_detalle_q4').hide();
                }
            });
        });
    </script>



    <script>
        jQuery(document).ready(function() {
            $("#cepr_general_q5").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val != 'No' ) {
                    $('#table_detalle_q5').show();
                } else  {
                    $('#table_detalle_q5').hide();;
                }
            });
        });
    </script>

{% endblock %}
