{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<ol class="breadcrumb">
  <li><a href="{{url_for('ceom_cepr_actual', id = profesor.cepr_ntrabajador )}}">Materias actuales</a></li>
  <li class="active">Ciclo {{ semestre.cese_ciclo }}</li>
</ol>


<div class="container">
<div class="row">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DATOS GENERALES</h5>
                  </div>
                  <div class="modal-body">
                        {% for field, errors in form.errors.items() %}
                        <div class="alert alert-danger">
                            {{ form[field].label }}: {{ ', '.join(errors) }}
                        </div>
                        {% endfor %}

                      <div class="form-group">
                      <form action="#" method="POST" enctype="multipart/form-data">

                        {{ form.csrf_token }}
                        <table>
                          <tr>
                             <td><b>Nombre</b>: </td>
                             <td>{{profesor.cepr_nombre}} {{profesor.cepr_papellido}} {{profesor.cepr_sapellido}}</td>
                          </tr>
                          <tr>
                             <td><b>No. de trabajador</b>: </td>
                             <td>{{profesor.cepr_ntrabajador}}</td>
                          </tr>
                          <tr>
                             <td><b>Categoría</b>: </td>
                             <td>{% if profesor.cepr_nombramiento == 0 %} Sin Nombramiento {% endif %} {% if profesor.cepr_nombramiento == 1 %} Profesor de Asignatura {% endif %} {% if profesor.cepr_nombramiento == 2 %} Profesor Carrera {% endif %} {% if profesor.cepr_nombramiento == 3 %} T&eacute;cnico Acad&eacute;mico {% endif %} {% if profesor.cepr_nombramiento == 4 %} Ayudante de Profesor {% endif %} {% if profesor.cepr_nombramiento == 5 %} Ayudante de Investigador {% endif %} {% if profesor.cepr_nombramiento == 6 %} Investigador {% endif %}</td>
                          </tr>                          
                          <tr>
                             <td><b>E-mail</b>: </td>
                             <td>{{profesor.cepr_email}}</td>
                          </tr>
                          <tr>
                             <td><b>Carrera de adscripción</b>: </td>
                             <td>{{ profesor.cepr_carrera_ads }} </td>
                          </tr>

                          {% for p in profesor.cepr_clases_ceom if p.ceom_ciclo_cese == semestre.cese_ciclo  %}
                          <tr>
                             <td><b>Asignatura {{loop.index}}</b>: </td>
                             <td> {{p.ceom_nombre}} (Plan {{p.ceom_plan_cepe}})
                             </td>
                          </tr>
                          {% endfor %}                                                  
                        </table>
                    </div>
                  </div>
                </div>
         </div>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-body">
        <div class="form-group">
          <div class="form-group">

            <table width="100%">
                <tbody>
                <tr>
                <td>
                <b>LABORES DOCENTES Y FORMACIÓN DE RECURSOS</b> <br>
                <p style="text-align: left;"><strong>Durante el presente semestre, ¿en cuántas ocasiones participó en algunas de las siguientes actividades académicas? </strong></p>
                </td>
                <td style="width: 25%; text-align: right;"><strong>
                <small><button type="button" class="btn btn-outline-info active" 
                  onclick="window.location.href = '{{url_for('cepr_evento_academico_v1', id_cepr= profesor.cepr_ntrabajador, id_cese = semestre.cese_ciclo, id_informe = informe.cepr_general_id )}}';">Añadir actividad</button></small>                </strong>&nbsp;</td>
                </tr>
                </tbody>
            </table>


         </div>


        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Entidad</th>
              <th>Descripción/Cantidad</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tr>
          {% for a in informe.cepr_general_evento_academia if a.cepr_cuestionario_evento_act == 'act_1' %}
          <tr>
             <td>{{a.cepr_cuestionario_evento_tipo}}</td>
             <td>{{a.cepr_cuestionario_evento_entidad}}</td>
             <td>{{a.cepr_cuestionario_evento_descripcion}}</td>
             <td><a href="#">Editar</a></td>
             <td><a href="#">Borrar</a></td>
          </tr>
          {% endfor %}   
          
          </tr>
          </tbody>                  
        </table>

    </div>
  </div>
</div>



<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-body">
        <div class="form-group">
          <div class="form-group">
                        <div class="form-group">
                          <b>EVENTOS ACADÉMICOS</b> <br>
                          <p>
                          {{ form.cepr_general_q2.label() }} 
                          {{ form.cepr_general_q2(class="form-control") }} <br>
                          {{ form.cepr_general_q2_sq1.label(id = "cepr_general_q2_sq1_label") }} 
                          {{ form.cepr_general_q2_sq1(class="form-control") }} 
                          {{ form.cepr_general_q2_sq2.label(id = "cepr_general_q2_sq2_label") }} 
                          {{ form.cepr_general_q2_sq2(class="form-control") }} 
                          {{ form.cepr_general_q2_sq3.label(id = "cepr_general_q2_sq3_label") }} 
                          {{ form.cepr_general_q2_sq3(class="form-control") }} 
                          {{ form.cepr_general_q2_sq4.label(id = "cepr_general_q2_sq4_label") }} 
                          {{ form.cepr_general_q2_sq4(class="form-control") }} 
                          </p>

                        </div>


          <div class="form-group">

            <table width="100%">
                <tbody>
                <tr>
                <td>
                  <b>Si su respuesta es positiva indique cómo fue su participación y escriba en el rubro correspondiente el nombre de la entidad responsable</b><br>

                </td>
                <td style="width: 25%; text-align: right;"><strong>
                <small><button type="button" class="btn btn-outline-info active" 
                  onclick="window.location.href = '{{url_for('cepr_evento_academico_v2', id_cepr= profesor.cepr_ntrabajador, id_cese = semestre.cese_ciclo, id_informe = informe.cepr_general_id )}}';">Añadir actividad</button></small>                </strong>&nbsp;</td>
                </tr>
                </tbody>
            </table>


         </div>


        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Entidad</th>
              <th>Descripción/Cantidad</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tr>
          {% for a in informe.cepr_general_evento_academia if a.cepr_cuestionario_evento_act == 'act_2' %}
          <tr>
             <td>{{a.cepr_cuestionario_evento_tipo}}</td>
             <td>{{a.cepr_cuestionario_evento_entidad}}</td>
             <td>{{a.cepr_cuestionario_evento_descripcion}}</td>
             <td><a href="#">Editar</a></td>
             <td><a href="#">Borrar</a></td>
          </tr>
          {% endfor %}   
          
          </tr>
          </tbody>                  
        </table>

    </div>
  </div>
</div>





                        </div>

        </div>
    </div>
  </div>
</div>



<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-body">
        <div class="form-group">
          <div class="form-group">


                        <div class="form-group">
                          <b>SUPERACIÓN ACADÉMICA Y ACTUALIZACIÓN DOCENTE</b> <br>
                          <p>
                          {{ form.cepr_general_q5.label() }} 
                          {{ form.cepr_general_q5(class="form-control") }} <br>

                          </p>

          <div class="form-group">

            <table width="100%">
                <tbody>
                <tr>
                <td>
                  <b>Si su respuesta es positiva indique cómo fue su participación y escriba en el rubro correspondiente el nombre de la entidad responsable</b><br>

                </td>
                <td style="width: 25%; text-align: right;"><strong>
                <small><button type="button" class="btn btn-outline-info active" 
                  onclick="window.location.href = '{{url_for('cepr_evento_academico_v3', id_cepr= profesor.cepr_ntrabajador, id_cese = semestre.cese_ciclo, id_informe = informe.cepr_general_id )}}';">Añadir actividad</button></small>                </strong>&nbsp;</td>
                </tr>
                </tbody>
            </table>


         </div>


        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Entidad</th>
              <th>Descripción/Cantidad</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tr>
          {% for a in informe.cepr_general_evento_academia if a.cepr_cuestionario_evento_act == 'act_3' %}
          <tr>
             <td>{{a.cepr_cuestionario_evento_tipo}}</td>
             <td>{{a.cepr_cuestionario_evento_entidad}}</td>
             <td>{{a.cepr_cuestionario_evento_descripcion}}</td>
             <td><a href="#">Editar</a></td>
             <td><a href="#">Borrar</a></td>
          </tr>
          {% endfor %}   
          
          </tr>
          </tbody>                  
        </table>

    </div>
  </div>
</div>


       </div>

    </div>
</div>
</div>





                        </div>

<div class="modal-dialog modal-lg" role="document">


                          <table style="width: 100%;" cellspacing="50" cellpadding="50">
                            <tr>
                              <td>
                                {{form.save(class="btn btn-lg btn-info btn-block")}}  
                              </td>
                              <td>  
                                {{form.submit(class="btn btn-lg btn-success btn-block")}}
                              </td>
                            </tr>
                          </table>

                      </form>
                      </div>
                  </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>






<br>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
       $('#q4_descrip').hide();
       $('#q6_descrip').hide();
       $('#q7_descrip').hide();
       $('#cepr_general_q2_sq1').hide();
       $('#cepr_general_q2_sq1_label').hide();
       $('#cepr_general_q2_sq2').hide();
       $('#cepr_general_q2_sq2_label').hide();
       $('#cepr_general_q2_sq3').hide();
       $('#cepr_general_q2_sq3_label').hide();
       $('#cepr_general_q2_sq4').hide();
       $('#cepr_general_q2_sq4_label').hide();
       $('#table_detalle_q4').hide();
       $('#table_detalle_q5').hide();
    </script>
    <script>
        jQuery(document).ready(function() {
            $("#q4").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val != 'No') {
                    $('#q4_descrip').show();
                } else {
                    $('#q4_descrip').hide();
                }
            });
        });
    </script>

    <script>
        jQuery(document).ready(function() {
            $("#q6-5").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val = false ) {
                    $('#q6_descrip').hide();
                } else if (chosen_val = true ) {
                    $('#q6_descrip').show();
                }
            });
        });
    </script>

    <script>
        jQuery(document).ready(function() {
            $("#q7-6").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val = false ) {
                    $('#q7_descrip').hide();
                } else if (chosen_val = true ) {
                    $('#q7_descrip').show();
                }
            });
        });
    </script>


    <script>
        jQuery(document).ready(function() {
            $("#cepr_general_q2").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val != 'No' ) {
                    $('#cepr_general_q2_sq1').show();
                    $('#cepr_general_q2_sq1_label').show();
                    $('#cepr_general_q2_sq2').show();
                    $('#cepr_general_q2_sq2_label').show();
                    $('#cepr_general_q2_sq3').show();
                    $('#cepr_general_q2_sq3_label').show();
                    $('#cepr_general_q2_sq4').show();
                    $('#cepr_general_q2_sq4_label').show();
                    $('#table_detalle_q4').show();
                } else  {
                    $('#cepr_general_q2_sq1').hide();
                    $('#cepr_general_q2_sq1_label').hide();
                    $('#cepr_general_q2_sq2').hide();
                    $('#cepr_general_q2_sq2_label').hide();
                    $('#cepr_general_q2_sq3').hide();
                    $('#cepr_general_q2_sq3_label').hide();
                    $('#cepr_general_q2_sq4').hide();
                    $('#cepr_general_q2_sq4_label').hide();
                    $('#table_detalle_q4').hide();
                }
            });
        });
    </script>



    <script>
        jQuery(document).ready(function() {
            $("#cepr_general_q5").change(function() {
                var chosen_val = $(this).val();
                if (chosen_val != 'No' ) {
                    $('#table_detalle_q5').show();
                } else  {
                    $('#table_detalle_q5').hide();;
                }
            });
        });
    </script>

{% endblock %}
